<div class="container-fluid withnav">
  <div class="col-lg-12">

    <div class="bookings-page">
      <!--  Remove bookings-page class -->
      <h1>Bookings</h1>

      <nav>
        <div class="datepicker-wrap">
          Select the start date, and the end date:
          <span-select
            highlight-days="disp.highlightDays"
            first-date="filter.startDate"
            last-date="filter.endDate">
          </span-select>
        </div>

        <div>
          <label>
            Route:
            <select ng-options="route.id as (route.label + ': ' + route.name) for route in disp.availableRoutes | orderBy:'label'" ng-model="filter.routeId" ng-required="false" class="form-control">
              <option value="">(All)</option>
            </select>
          </label>

          <label>
            Trip ID:
            <input type="number" ng-model="filter.tripId" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
          </label>
        </div>

        <div>
          Status:
          <label>
            <input type="checkbox" ng-model="filter.status.valid" /> Valid
          </label>

          <label>
            <input type="checkbox" ng-model="filter.status.refunded" /> Refunded
          </label>

          <label>
            <input type="checkbox" ng-model="filter.status.failed" /> Failed
          </label>
        </div>

        <!-- user query -->
        <div class="form-group">
          <label>
            User search
            <input type="text" ng-model="filter.userQuery" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
          </label>
        </div>

        <!-- stop query -->
        <div class="form-group">
          <label>
            Stop search
            <input type="text" ng-model="filter.stopQuery" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
          </label>
        </div>


        <button ng-click="downloadCsv()">
          Download CSV
        </button>
      </nav>
      <br clear="both" />


      <uib-pagination boundary-links="true" ng-model="currentPage" total-items="pageCount * perPage" items-per-page="perPage"></uib-pagination>

      <!-- <div>
    <span class="btn-group">
      <button class="btn btn-default"
        ng-click="showRefundModal()"
      >
        Refund...
      </button>
    </span>
  </div> -->
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed transactions-view">
          <thead>
            <tr>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort=""></th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Txn Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Charge Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="boardingTime">Trip date</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User name</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User phone </th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User email</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Ticket id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Trip id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="route">Route Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route Label</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route description</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Pick-up stop</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Drop-off stop</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Price per trip</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Status</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="createdAt">Timestamp</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Refund</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="ticket in tickets" ng-class="{
            valid: ticket.status == 'valid',
            refunded: ticket.status == 'refunded',
            failed: ticket.status == 'failed',
              }">
              <td>
                <input type="checkbox" ng-model="selectedTickets[ticket.id]" style="height: 100%;" />
              </td>
              <td>
                <a ui-sref="transactions({id: ticket.ticketSale.transactionId})">
            {{ticket.ticketSale.transactionId}}
          </a>
              </td>
              <td>
                {{ticket.paymentResource}}
                <span ng-if="ticket.refundResource"><br/>{{ticket.refundResource}}</span>
              </td>
              <td>
                {{ticket.boardStop.trip.date | date:'dd-MMM-yy':'UTC'}}
              </td>
              <td>
                {{ticket.user.json.name ? (ticket.user.json.name + ' #' + ticket.user.json.index) : ticket.user.name}}
              </td>
              <td>
                {{ticket.user.json.telephone || ticket.user.telephone}}
              </td>
              <td>
                {{ticket.user.json.email || ticket.user.email}}
              </td>
              <td>
                <a ui-sref="transactions({ticketId: ticket.id})">
            {{ticket.id}}
          </a>

                <a ng-click="sendWrsEmail(ticket.ticketSale.transactionId)">
                  <i class="glyphicon glyphicon-envelope"></i>
                </a>
              </td>
              <td>
                {{ticket.boardStop.trip.id}}
              </td>
              <td>
                {{ticket.boardStop.trip.routeId}}
              </td>
              <td>
                {{ticket.boardStop.trip.route.label}}
              </td>
              <td>
                {{ticket.boardStop.trip.route.from}} &mdash; {{ticket.boardStop.trip.route.to}}
              </td>
              <td>
                {{ticket.boardStop.time | date:'HH:mm'}}, {{ticket.boardStop.stop.description}}
              </td>
              <td>
                {{ticket.alightStop.time | date:'HH:mm'}}, {{ticket.alightStop.stop.description}}
              </td>
              <td>
                {{ticket.boardStop.trip.price}}
              </td>
              <td>
                {{ticket.status}}
              </td>
              <td>
                {{ticket.createdAt | date:'dd-MMM-yy HH:mm:ss'}}
              </td>
              <td>
                <button class="btn btn-danger" ng-click="refund(ticket)" ng-disabled="ticket.status != 'valid'">
                  Refund!
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
