<div class="container-fluid withnav">

  <div class="bookings-page">
    <!--  Remove bookings-page class -->
    <div class="row">
      <nav>
        <div class="col-lg-4 pull-right">
          <div class="datepicker-wrap">
              <h4 class="text-center">Select the start date, and the end date:</h4>
            <span-select highlight-days="disp.highlightDays" first-date="filter.startDate" last-date="filter.endDate">
            </span-select>
          </div>
        </div>
        <div class="col-lg-8 pull-left">
          <h1>Tickets</h1>
          <label>
            Filter by Route:
            <select ng-options="route.id as (route.label + ': ' + route.name) for route in disp.availableRoutes | orderBy:'label'" ng-model="filter.routeId" ng-required="false" class="form-control">
              <option value="">(All)</option>
            </select>
          </label>
          <br clear="both" />
          <div class="form-group pull-left ticketSearch">
            <label>
              Search by Trip ID
              <input type="number" ng-model="filter.tripId" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
            </label>
          </div>
          <!-- stop query -->
          <div class="form-group pull-left ticketSearch">
            <label>
              Search by Stop ID
              <input type="text" ng-model="filter.stopQuery" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
            </label>
          </div>
          <!-- user query -->
          <div class="form-group pull-left ticketSearch">
            <label>
              Search by User
              <input type="text" ng-model="filter.userQuery" ng-model-options="{ updateOn: 'blur' }" class="form-control" />
            </label>
          </div>

          <br clear="both" />
          <div class="pull-left">
            <span class="ticketCheckbox">Ticket Status:</span>
            <label class="ticketCheckbox">
              <input type="checkbox" ng-model="filter.status.valid" /> Valid
            </label>

            <label class="ticketCheckbox">
              <input type="checkbox" ng-model="filter.status.refunded" /> Refunded
            </label>

            <label class="ticketCheckbox">
              <input type="checkbox" ng-model="filter.status.failed" /> Failed
            </label>

            <br clear="both" />
            <button class="btn btn-lg btn-primary downloadCsv" ng-click="downloadCsv()">
              Download CSV
            </button>
          </div>
        </div>

      </nav>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-lg-12">
    <div class="row">
      <uib-pagination boundary-links="true" ng-model="currentPage" total-items="pageCount * perPage" items-per-page="perPage"></uib-pagination>
    </div>
    <!-- <div>
  <span class="btn-group">
    <button class="btn btn-default"
      ng-click="showRefundModal()"
    >
      Refund...
    </button>
  </span>
</div> -->
    <div class="row">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-condensed transactions-view">
          <thead>
            <tr>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort=""></th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Txn Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Charge Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="boardingTime">Trip date</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User name</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User phone </th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">User email</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Ticket id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Trip id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="route">Route Id</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route Label</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route description</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Pick-up stop</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Drop-off stop</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Price per trip</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Status</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="createdAt">Timestamp</th>
              <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Refund</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="ticket in tickets" ng-class="{
        valid: ticket.status == 'valid',
        refunded: ticket.status == 'refunded',
        failed: ticket.status == 'failed',
          }">
              <td>
                <input type="checkbox" ng-model="selectedTickets[ticket.id]" style="height: 100%;" />
              </td>
              <td>
                <a ui-sref="transactions({id: ticket.ticketSale.transactionId})">
              {{ticket.ticketSale.transactionId}}
            </a>
              </td>
              <td>
                {{ticket.paymentResource}}
                <span ng-if="ticket.refundResource"><br/>{{ticket.refundResource}}</span>
                <span ng-if="ticket.paymentData.transfer.destination_payment">
              <br/>{{ticket.paymentData.transfer.destination_payment}}
            </span>
                <span ng-if="ticket.refundData.transfer.destination_payment">
              <br/>{{ticket.refundData.transfer.destination_payment}}
            </span>
              </td>
              <td>
                {{ticket.boardStop.trip.date | date:'dd-MMM-yy':'UTC'}}
              </td>
              <td>
                {{ticket.user.json.name ? (ticket.user.json.name + ' #' + ticket.user.json.index) : ticket.user.name}}
              </td>
              <td>
                {{ticket.user.json.telephone || ticket.user.telephone}}
              </td>
              <td>
                {{ticket.user.json.email || ticket.user.email}}
              </td>
              <td>
                <a ui-sref="transactions({ticketId: ticket.id})">
        {{ticket.id}}
      </a>

                <a ng-click="sendWrsEmail(ticket.ticketSale.transactionId)">
                  <i class="glyphicon glyphicon-envelope"></i>
                </a>
              </td>
              <td>
                {{ticket.boardStop.trip.id}}
              </td>
              <td>
                {{ticket.boardStop.trip.routeId}}
              </td>
              <td>
                {{ticket.boardStop.trip.route.label}}
              </td>
              <td>
                {{ticket.boardStop.trip.route.from}} &mdash; {{ticket.boardStop.trip.route.to}}
              </td>
              <td>
                {{ticket.boardStop.time | date:'HH:mm'}}, {{ticket.boardStop.stop.description}}
              </td>
              <td>
                {{ticket.alightStop.time | date:'HH:mm'}}, {{ticket.alightStop.stop.description}}
              </td>
              <td>
                {{ticket.boardStop.trip.price}}
              </td>
              <td>
                {{ticket.status}}
              </td>
              <td>
                {{ticket.createdAt | date:'dd-MMM-yy HH:mm:ss'}}
              </td>
              <td>
                <button class="btn btn-danger btn-condensed" ng-click="refund(ticket)" ng-disabled="ticket.status != 'valid'">
                  Refund Ticket
                </button>
                <button class="btn btn-default btn-condensed" ng-click="replace(ticket)" ng-disabled="ticket.status != 'valid'">
                  Edit ticket
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>
</div>
