<div class="container-fluid withnav credits">
  <div class="row" ng-if="!companyId">
    Please select a company
  </div>
  <div class="row" ng-if="!disp">
    Loading...
  </div>
  <div class="row" ng-if="disp">
    <div class="col-sm-8">
      <h1>Credits</h1>
      <form>
        <div class="form-group">
            <user-selector ng-model="filter.userId" include-ephemeral="false" initial-user="filter.user"></user-selector>
        </div>
        <div class="form-group">
          <label>Credit Tag</label>
          <input type="text" class="form-control" ng-model="filter.tag">
        </div>
        <div class="form-group">
          <label>TransactionType</label>
          <input type="text" class="form-control" ng-model="filter.transactionType">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filter.hideUncommittedTransactions">Hide uncommitted transactions</label>
          </div>
        </div>
        <br>

      </form>
    </div>
    <div class="col-sm-4">
      <div class="datepicker-wrap">
        <h4 class="text-center">
          Select the start date, and the end date:
        </h4>
        <span-select month-changed="monthChanged" first-date="filter.startDate" last-date="filter.endDate"
          highlight-days="disp.highlightDays"></span-select>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
        <div uib-pagination boundary-links="true" ng-model="paging.page" total-items="disp.totalItems" items-per-page="paging.perPage"></div>
        <div>
          Showing {{(paging.page-1) * paging.perPage + 1}} to {{(paging.page-1) * paging.perPage + disp.transactions.length}} of {{disp.totalItems}}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Date</th>
            <th>Status</th>
            <th>Description</th>
            <th>Type</th>
            <th>User</th>
            <th>Tag</th>
            <th>Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="txn in disp.transactions track by $index">
            <!-- <td title="Transaction Item ID: {{txn.id}}">{{$index + 1}}</td> -->
            <td>{{ $index + 1 + (paging.page-1) * paging.perPage }}</td>
            <td>{{txn.createdAt | date:'dd MMM yyyy HH:mm:ss':'+0800'}}</td>
            <td title="Transaction ID: {{txn.transactionId}}">{{txn.transaction.committed ? 'Valid' : 'Failed'}}</td>
            <td>{{txn.transaction.description}}</td>
            <td>{{txn.transaction.type}}</td>
            <td>
            <a ui-sref="^.users({userId: filter.user.id})">
            <strong>{{txn.routeCredits.user.name}}</strong>
            <br>(UID: {{txn.routeCredits.userId}})</a>
            <br>{{txn.routeCredits.user.telephone}}
            <br>{{txn.routeCredits.user.email}}
            </td>
            <td><ul class="tags"><li class="tags">{{txn.routeCredits.tag}}</li></ul></td>
            <td>{{txn.credit | currency}}</td>
            <td>
              <!-- <button class="btn btn-primary btn-xs">Dummy</button> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
        <div uib-pagination boundary-links="true" ng-model="paging.page" total-items="disp.totalItems" items-per-page="paging.perPage"></div>
    </div>
  </div>
</div>
