<div class="container-fluid withnav credits">
  <div class="row" ng-if="!companyId">
    Please select a company
  </div>
  <div class="row" ng-if="!disp">
    Loading...
  </div>
  <div class="row" ng-if="disp">
    <div class="col-sm-8">
      <h1>Credits</h1>
      <h2>Search selected dates by:</h2>
      <form>
        <div class="form-group">
            <user-selector ng-model="filter.userId" include-ephemeral="false" initial-user="filter.user">
            </user-selector>
        </div>
        <div class="form-group">
          <label>Credit Tag</label>
          <input type="text" class="form-control" ng-model="filter.tag">
        </div>
        <div class="form-group">
          <label>TransactionType</label>
          <select
            ng-model="filter.transactionType"
            ng-options="value as value for value in transactionTypes">
          </select>
          <input type="hidden" class="form-control" ng-model="filter.transactionType">
        </div>
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="filter.hideUncommittedTransactions">Hide uncommitted transactions</label>
          </div>
        </div>
        <br>

      </form>
    </div>
    <div class="col-sm-4">
      <div class="datepicker-wrap">
        <h4 class="text-center">
          Select the start date, and the end date:
        </h4>
        <span-select month-changed="monthChanged" first-date="filter.startDate" last-date="filter.endDate"
          highlight-days="disp.highlightDays"></span-select>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
        <div uib-pagination boundary-links="true" ng-model="paging.page" total-items="disp.totalItems" items-per-page="paging.perPage"></div>
        <div>
          Showing {{(paging.page-1) * paging.perPage + 1}} to {{(paging.page-1) * paging.perPage + disp.transactions.length}} of {{disp.totalItems}}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>S/N</th>
            <th>Txn ID</th>
            <th>Charge ID</th>
            <th>Txn Timestamp</th>
            <th>Status</th>
            <th>Route Label</th>
            <th>Route Description</th>
            <th>Description</th>
            <th>Number of Ticket Purchased</th>
            <th>Type</th>
            <th>User</th>
            <th>Tag</th>
            <th>Credit Amount</th>
            <th>Payment Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="txn in disp.transactions track by $index">
            <!-- <td title="Transaction Item ID: {{txn.id}}">{{$index + 1}}</td> -->
            <td>{{ $index + 1 + (paging.page-1) * paging.perPage }}</td>
            <td>
              <a ui-sref="^.transactions({id: txn.transactionId})">
                {{txn.transactionId}}<br/>
              </a>
              <a ng-if="txn.refundingTransactionId" ui-sref="^.transactions({id: txn.refundingTransactionId})">{{txn.refundingTransactionId}}</a>
            </td>
            <td>
              {{txn.payment.paymentResource}}<br/>
              <span ng-if="txn.refundPayment.paymentResource">{{txn.refundPayment.paymentResource}}<br/></span>
              {{txn.payment.destinationResoure}}<br/>
              <button class="btn btn-danger btn-xs" ng-if="txn.transaction.committed && (txn.transaction.type === 'routeCreditPurchase' || txn.transaction.type === 'conversion') && !txn.refundingTransactionId"
                ng-click="refund(txn)">
                Refund
              </button>
            </td>
            <td>{{txn.createdAt | date:'dd MMM yyyy HH:mm:ss':'+0800'}}</td>
            <td title="Transaction ID: {{txn.transactionId}}">
              <span class="label txn-valid" ng-if="txn.transaction.committed && !txn.refundingTransactionId">Valid</span>
              <span class="label txn-failed" ng-if="!txn.transaction.committed">Failed</span>
              <span class="label txn-refunded" ng-if="txn.transaction.committed && txn.refundingTransactionId">Refunded</span>
            </td>
            <td>{{txn.routeLabel}}</td>
            <td>{{txn.routeDescription}}</td>
            <td>{{txn.transaction.description}}</td>
            <td>{{txn.noTickets || ''}}</td>
            <td>{{txn.transaction.type}}</td>
            <td>
            <a ui-sref="^.users({userId: filter.user.id})">
            <strong>{{txn.routeCredits.user.name}}</strong>
            <br>(UID: {{txn.routeCredits.userId}})</a>
            <br>{{txn.routeCredits.user.telephone}}
            <br>{{txn.routeCredits.user.email}}
            <br>
              <span class="discount-code label" ng-if="txn.promo.promoId"
                  ui-sref="^.promotions({companyId: companyId, promoId: txn.promo.promoId})">
                <span ng-if="txn.promo.code">{{txn.promo.code}}</span>
                <span ng-if="!txn.promo.code"><i>(automatic)</i></span>
                (#{{txn.promo.promoId}})
              </span>
            </td>
            <td><ul class="tags"><li class="tags">{{txn.routeCredits.tag}}</li></ul></td>
            <td>
              <div ng-if="!txn.promo.promoId">{{txn.credit | currency}}</div>
              <div ng-if="txn.promo.promoId">{{txn.payment.paymentAmount | currency}} + {{txn.promo.amount | currency}}</div>
            </td>
            <td>
              {{txn.payment.paymentAmount > 0 ? (txn.payment.paymentAmount | currency) : ''}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
        <div uib-pagination boundary-links="true" ng-model="paging.page" total-items="disp.totalItems" items-per-page="paging.perPage"></div>
    </div>
  </div>
</div>
