<div class="container withnav drivers">
  <div class="row">
    <div class="col-lg-12">
      <h1>Drivers</h1>
      <div ng-if="!company.id">
        <p>
          You are Superadmin! Pick the company you would like to edit
          from the top right hand corner
        </p>
    </div>
      <button ng-click="addDriver()" class="btn btn-primary btn-lg">
        Add a new driver
      </button>

  </div>
  <br>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="table table-condensed table-striped table-bordered">
        <thead>
          <tr>
            <th>No.</th>
            <th>Driver ID</th>
            <th>Name</th>
            <th>Telephone</th>
            <th>Vehicle</th>
            <th>Remarks</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="driver in drivers track by driver.id">
            <td>
              {{$index+1}}
            </td>
            <td>
              {{driver.id}}
            </td>
            <td>
              {{driver.transportCompanies[0].driverCompany.name}}
            </td>
            <td>
              {{driver.telephone}}
            </td>
            <td>
              {{driver.vehicle}}
            </td>
            <td>
              {{driver.transportCompanies[0].driverCompany.remarks}}
            </td>
            <td>
              <button class="btn btn-primary" ng-click="updateDriverName(driver)">
                Edit Name and Remarks
              </button>
              <button class="btn btn-danger" ng-click="deleteDriver(driver.id)">
                Delete Driver
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
