
<div class="container-fluid withnav">
  <div class="col-lg-12">
    <h1>Promotion</h1>

    <div ng-if="!editPromoCode">
      Error loading promotion
    </div>
    <div ng-if="editPromoCode">
      <table class="table">
        <tr>
          <th>General</th>
          <th>Redemption Limits</th>
        </tr>
        <tr>
          <td>
            <div class="form-group">
              <label>
                Code
                <input type="text" ng-model="editPromoCode.code"
                  placeholder="HARI-RAYA" class="form-control"
                  ng-blur="editPromoCode.code = editPromoCode.code.toUpperCase()" />
              </label>
              <div class="alert alert-warning" ng-if="!editPromoCode.code">
                You have not keyed in a promo code. This promotion will be
                automatically applied to all transactions without a promo code.
              </div>
            </div>

            <div class="form-group">
              <label>
                Description (shown to user)
                <input type="text" ng-model="editPromoCode.description"
                  placeholder="Hari Raya promotion" class="form-control"  />
              </label>
            </div>

            <div class="form-group">
              <label>
                Type
                <select ng-options="type for type in promoTypes" ng-model="editPromoCode.type"
                  class="form-control" >
                </select>
              </label>
            </div>
          </td>
          <td>
            <div class="form-group">
              <label>
                Max redemptions per user:
                <input type="number" class="form-control" ng-model="editPromoCode.params.usageLimit.userLimit" />
              </label>
            </div>

            <div class="form-group">
              <label>
                Max redemptions by all users:
                <input type="number" class="form-control" ng-model="editPromoCode.params.usageLimit.globalLimit" />
              </label>
            </div>

            <div>
              <b>Note:</b> '0' to disable the promotion, blank to have no limit
            </div>
          </td>
        </tr>
      </table>

      <table class="table table-striped">
        <tr>
          <th style="width: 33%">
            Apply promo code if...
          </th>
          <th style="width: 33%">
            Give the user...
          </th>
          <th style="width: 34%">
            When refunding...
          </th>
        </tr>
        <tr>
          <td>
            <div ng-repeat="criterion in editPromoCode.params.qualifyingCriteria">
              <promo-criterion-editor ng-model="criterion">
              </promo-criterion-editor>

              <button ng-click="editPromoCode.params.qualifyingCriteria.splice($index, 1)"
                class="btn btn-danger">
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </div>
            <div>
              <button ng-click="editPromoCode.params.qualifyingCriteria.push({})"
                class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </div>
          </td>
          <td>
            <promo-discount-editor ng-model="editPromoCode.params.discountFunction">
            </promo-discount-editor>
          </td>
          <td>
            {{editPromoCode.params.refundFunction.type}}
          </td>
        </tr>
      </table>
      <button ng-click="save()" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>
