<div class="container-fluid withnav routes-page">
  <h1>Routes</h1>

  <div>
    <uib-pagination
      class="text-center"
      boundary-links="true"
      ng-model="filter.page"
      total-items="data.count"
      items-per-page="filter.perPage"
    ></uib-pagination>
  </div>
  <p class="text-info">
    Trips stops, time, price and capacity is based on next available trip for each route.<br />Last driver indicates the last driver that pinged this route.
  </p>
  <br />
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="id">Route<br />ID</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="label">Route<br />label</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Company</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="from">Route<br />Description</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="startDate">Start date</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="endDate">End date</th>
        <!-- <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastStartTime">Start time</th> -->
        <!-- <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastEndTime">End time</th> -->
        <th sort-direction='filter.order' sort-model="filter.orderBy" >Status</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" >Boarding</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" >Alighting</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route path</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastDriverName">Last driver</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastPrice">Price</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastCapacity">Capacity</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Tags</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Trips</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in data.rows">
        <td>{{route.id}}</td>
        <td><span class="route-label">{{route.label}}</span></td>
        <td width="6%">{{route.transportCompany.name}}</td>
        <td width="12%">
          <table class="borderless">
            <tr>
              <td>
                From
              </td>
              <td>
                {{route.from}}
              </td>
            </tr>
            <tr>
              <td>
                To
              </td>
              <td>
                {{route.to}}
              </td>
            </tr>
          </table>
        </td>
        <td>{{route.startDate | date:'dd MMM yyyy'}}<br />{{route.startDate | date:'(EEE)'}}</td>
        <td>{{route.endDate | date:'dd MMM yyyy'}}<br />{{route.endDate | date:'(EEE)'}}</td>
        <!-- <td>{{route.lastStartTime | intervalToTime | date:'HH:mm'}}</td> -->
        <!-- <td>{{route.lastEndTime   | intervalToTime | date:'HH:mm'}}</td> -->
        <td><span class="label route-active">Active</span><br />
            <span class="label route-notstarted">Not Started</span><br />
            <span class="label route-ended">Ended</span></td>
        <td width="15%">
          <table class="borderless">
            <tr>
              <td class="text-nowrap">
                HH:mm
              </td>
              <td>
                Stop Name Description Lorem Ipsum
              </td>
            </tr>
          </table>
        </td>
        <td width="15%">
          <table class="borderless">
            <tr>
              <td class="text-nowrap">
                HH:mm
              </td>
              <td>
                Stop Name Description Lorem Ipsum
              </td>
            </tr>
          </table>
        </td>
        <td><button ng-click="viewRoute(route.id)">View</button></td>
        <td>{{route.lastDriverName}}</td>
        <td>{{route.lastPrice}}</td>
        <td>{{route.lastCapacity}}<span class="glyphicon glyphicon-user" aria-hidden="true"></span></td>
        <td>
          <ul class="tags">
            <li ng-repeat="tag in route.tags">{{tag}}</li>
          </ul>
        </td>
        <td>
          <a ui-sref="trips({routeId: route.id, action: 'trips'})">
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
