<div class="container-fluid withnav">
  <h1>Routes</h1>

  <pretty-company-selector></pretty-company-selector>

  <div>
    <uib-pagination
      boundary-links="true"
      ng-model="filter.page"
      total-items="data.count"
      items-per-page="filter.perPage"
    ></uib-pagination>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="id">Route ID</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="label">Route label</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Company</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="from">From</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="to">To</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="startDate">Start date</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="endDate">End date</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastStartTime">Start time</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastEndTime">End time</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Route path</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastDriverName">Last driver</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastPrice">Price</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="lastCapacity">Cap</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Tags</th>
        <th sort-direction='filter.order' sort-model="filter.orderBy" my-sort="">Trips</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in data.rows">
        <td>{{route.id}}</td>
        <td>{{route.label}}</td>
        <td>{{route.transportCompany.name}}</td>
        <td>{{route.from}}</td>
        <td>{{route.to}}</td>
        <td>{{route.startDate | date:'dd MMM yyyy (EEE)'}}</td>
        <td>{{route.endDate   | date:'dd MMM yyyy (EEE)'}}</td>
        <td>{{route.lastStartTime | intervalToTime | date:'HH:mm'}}</td>
        <td>{{route.lastEndTime   | intervalToTime | date:'HH:mm'}}</td>
        <td><button ng-click="viewRoute(route.id)">View</button></td>
        <td>{{route.lastDriverName}}</td>
        <td>{{route.lastPrice}}</td>
        <td>{{route.lastCapacity}}</td>
        <td>
          <ul class="tags">
            <li ng-repeat="tag in route.tags">{{tag}}</li>
          </ul>
        </td>
        <td>
          <a ui-sref="trips({routeId: route.id, action: 'trips'})">
            View
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
