<div class="container-fluid withnav">
  <div class="summary-page">
    <div class="row">
      <div class="col-lg-4">
        <h1>Booking Summary</h1>
        <nav>
          <div class="pull-left">
            <uib-datepicker ng-model="selectedMonth" datepicker-options="{ minMode: 'month' }">
            </uib-datepicker>
          </div>
        </nav>
      </div>
      <div class="col-lg-6 route-summaries">
        <h3>Trip Legend</h3>
          <table class="summaryLegend">
            <tr>
              <td>
                Trips
              </td>
              <td>
                Normal
              </td>
              <td>
                No Trips
              </td>
              <td>
                <span uib-tooltip="Cancelled due to Emergency">Cancelled</span>
              </td>
              <td>
                <span uib-tooltip="Void due to wrong trips created">Void</span>
              </td>
              <td>
                Today
              </td>
            </tr>
            <tr>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th>
                      Date
                    </th>
                  </tr>
                  <tr>
                    <th>
                      Day
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day has-trip">
                      <small>Pax</small>
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th class="summary-day day has-trip">
                      1
                    </th>
                  </tr>
                  <tr>
                    <th class="weekday day has-trip">
                      Mon
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day has-trip">
                      0
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th class="summary-day day">
                      2
                    </th>
                  </tr>
                  <tr>
                    <th class="weekday day">
                      Tues
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day">

                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th class="summary-day day has-trip cancelled">
                      3
                    </th>
                  </tr>
                  <tr>
                    <th class="weekday day has-trip cancelled">
                      Wed
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day has-trip cancelled">
                      0
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th class="summary-day day has-trip void">
                      4
                    </th>
                  </tr>
                  <tr>
                    <th class="weekday day has-trip void">
                      Thurs
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day has-trip void">
                      0
                    </td>
                  </tr>
                </table>
              </td>
              <td>
                <table class="routeSummary">
                  <tr>
                    <th class="summary-day day has-trip today">
                      5
                    </th>
                  </tr>
                  <tr>
                    <th class="weekday day has-trip today">
                      Fri
                    </th>
                  </tr>
                  <tr>
                    <td class="passenger-count day has-trip today">
                      0
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
      </div>
      <div class="col-lg-2">
        <h3>Company</h3>
        <div class="pull-left">
          <company-logo ng-if="companyId" company-id="companyId" class="company-logo"></company-logo>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2 class="nodata" ng-if="routes.length == 0">
          No seat data found for the selected month
        </h2>

        <div ng-if="routes.length > 0" class="route-summaries">

          <table class="routeInfo" ng-repeat-start="route in routes | orderBy:'label' track by $index">
            <tr>
              <td class="text-left">
                 No. {{$index + 1}}
              </td>
            </tr>

            <tr>
              <th class="purpleID" width="10%">
                Route ID
              </th>
              <th width="10%">
                Route Label
              </th>
              <th width="50%">
                Route Name
              </th>
              <th width="15%">
                Start Date
              </th>
              <th width="15%">
                End Date
              </th>
            </tr>
            <tr>
              <td class="purpleID">
                <h2>{{route.id}}</h2>
              </td>
              <td>
                {{route.label}}
              </td>
              <td>
                {{route.trips[0].tripStops[0].time | date:'HH:mm a'}} - {{route.from}}
                <br> {{route.trips[0].tripStops[route.trips[0].tripStops.length-1].time | date:'HH:mm a'}} - {{route.to}}
              </td>
              <td>
                {{route.startDate | date:'dd MMM yyyy'}}
              </td>
              <td>
                {{route.endDate | date:'dd MMM yyyy'}}
              </td>
            </tr>
          </table>
          <table class="routeSummary" ng-repeat-end ng-if="routes.length > 0">
            <tr> <!-- 1/4 row of span -->
              <th rowspan="4" width="3%">{{ route.trips[0].date | date:'MMM':'UTC'}}</th>

              <th ng-repeat="trip in route.priceSummary" colspan="{{trip.count}}" class="price-summary">
                <span ng-if="trip.price !== undefined">
                    <i class="glyphicon glyphicon-menu-left pull-left"></i>
                    <span class="priceSummaryInfo">Price: ${{trip.price | number:2}}</span>
                <span class="priceSummaryInfo">Capacity: {{trip.capacity}}<i class="glyphicon glyphicon-user"></i></span>
                <i class="glyphicon glyphicon-menu-right pull-right"></i>
                </span>
              </th>
            </tr>
            <tr> <!-- 2/4 row of span -->
              <th ng-repeat='trip in route.tripsByDay track by $index' ng-class="{ 'has-trip': route.tripsByDay[$index],
                          today: $index === today,
                          cancelled: route.tripsByDay[$index].status === 'cancelled',
                          void: route.tripsByDay[$index].status === 'void'
                        }" class="summary-day day">
                {{$index + 1}}
              </th>
            </tr>
            <tr> <!-- 3/4 row of span -->
              <th ng-repeat='trip in route.tripsByDay track by $index' ng-class="{ 'has-trip': route.tripsByDay[$index],
                              today: $index === today,
                              void: route.tripsByDay[$index].status === 'void',
                              cancelled: route.tripsByDay[$index].status === 'cancelled'
                            }" class="weekday day">
                {{ weekDays[$index] === 0 ? 'Su' : weekDays[$index] === 1 ? 'Mo' : weekDays[$index] === 2 ? 'Tu' : weekDays[$index] === 3 ? 'We' : weekDays[$index] === 4 ? 'Th' : weekDays[$index] === 5 ? 'Fr' : weekDays[$index] === 6 ? 'Sa' : '' }}
              </th>

            </tr>
            <tr> <!-- 4/4 row of span -->
              <td ng-repeat='trip in route.tripsByDay track by $index' ng-class="{ 'has-trip': route.tripsByDay[$index],
                              today: $index === today,
                              cancelled: route.tripsByDay[$index].status === 'cancelled',
                              void: route.tripsByDay[$index].status === 'void'
                            }" class="passenger-count day">
                <a href="#/bookings?tripId={{trip.id}}">
                {{trip ? trip.availability.seatsBooked || '0' : ''}}
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
