<div>
    <h1>Transactions</h1>

    <uib-pagination
      boundary-links="true"
      ng-model="currentPage"
      total-items="pageCount * perPage"
      items-per-page="perPage"
    ></uib-pagination>

    <table class="table table-striped transactions-view">
      <thead>
        <tr>
          <th class="id"></th>
          <th class="item-type">Item type</th>
          <th class="item-description">Item Description</th>
          <th class="debit-credit">Debit</th>
          <th class="debit-credit">Credit</th>
        </tr>
      </thead>

      <tr ng-repeat-start="transaction in transactions track by $index">
        <td rowspan="{{transaction.transactionItems.length + 1}}"
        class="id">
          <b>{{transaction.id}}</b>
          <br/>
            {{transaction.description}}
          <br/>
          {{transaction.createdAt | date:'dd MMM yyyy HH:mm:ss'}}
        </td>

        <td colspan="4">
        </td>
      </tr>

      <tr ng-repeat-end ng-repeat="txnItem in transaction.transactionItems track by $index">
        <td class="item-type">
          {{txnItem.itemType}}
        </td>
        <td ng-switch="txnItem.itemType"
          class="item-description">
          <account-view ng-switch-when="account"
            data="txnItem.account"
          >
          </account-view>
          <ticket-view ng-switch-when="ticketSale"
            data="txnItem.ticketSale">
          </ticket-view>
          <payment-view ng-switch-when="payment"
            pv-data="txnItem.payment.data"
            pv-title="txnItem.payment.paymentResource">
          </payment-view>
          <transfer-view ng-switch-when="transfer">
            {{txnItem.transfer.transportCompanyId}}
          </transfer-view>
        </td>
        <td class="debit-credit">
          {{txnItem.debit >= 0 ? txnItem.debit : ''}}
        </td>
        <td class="debit-credit">
          {{txnItem.credit >= 0 ? txnItem.credit : ''}}
        </td>
      </tr>

    </table>
</div>
