<style type="text/css">
  td {
    word-wrap: break-word;
    word-break: break-all;
  }

  user-selector .ui-select-container {
    padding-top: 33px;
  }

  user-selector input.ui-select-search {
    width: 100% !important;
  }

  ul li {
    list-style: none;
    padding-left: 10px;
  }

  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .ui-select-bootstrap .ui-select-choices-row>a{
    padding-left: 2px
  }
</style>

<div class="container-fluid withnav">
  <div class="row">
    <div class="col-sm-3">
      <h1>{{'User #' + user.id}}</h1>    
    </div>
    <div class="col-sm-7">
      <user-selector ng-model="selector.userId" initial-user="user" include-ephemeral="false" theme="bootstrap" spinner-enabled="true"></user-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div>
        <table class="table">
          <h2>Information</h2>
          <tr>
            <th>Name:</th>
            <td>{{user.name}}</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th>Telephone:</th>
            <td>{{user.telephone}}</td>
          </tr>
          <tr>
            <th>Registered:</th>
            <td>{{user.createdAt | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          </tr>
          <tr>
            <th>Last Login:</th>
            <td>{{user.lastLogin | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          </tr>
          <tr>
            <th>Last App Used:</th>
            <td>{{user.lastUsedAppName}}</td>
          </tr>
        </table>
        <button class="btn btn-primary" ng-click="getUserPin()" ng-if="adminService.isSuperAdmin()">Get PIN</button>
        
      </div>
    </div>
    <div class="col-sm-7" ng-if="routeCredits && routeCredits.length > 0">
      <h2>Route Credits</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="credit in routeCredits">
            <td>{{ credit.tag }}</td>
            <td>{{ credit.balance | currency }}</td>
            <td><!-- <button class="btn btn-primary btn-sm">Add credit</button> --></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-7" ng-if="!routeCredits || routeCredits.length == 0">
      <h3 ng-if="companyId">No data to display</h3>
      <h3 ng-if="!companyId">Please select a company to display data</h3>
    </div>
    <div class="col-sm-2">
      <h2>Navigation</h2>
      <ul class="nav">
        <li><a ui-sref="^.bookings({userId: user.id})" title="">Bookings</a></li>
      </ul>
    </div>
  </div>
</div>