.bookings-page {
  margin-bottom: $padding-large-vertical*5;
  nav {
    .uib-datepicker {
      float: left;
      margin: 0 1em;
    }
    &:after {
      content: ".";
      visibility: hidden;
      clear: both;
    }
  }
  .ticketSearch {
    margin-right: $padding-large-horizontal;
    margin-top: $padding-large-horizontal;
  }
  .ticketCheckbox {
    margin-right: $padding-base-horizontal;
  }
  .bookingNav {
    margin-top: $padding-large-vertical;
    margin-right: $padding-base-horizontal;
  }
  tr.selected td {
    background-color: $table-bg-hover;
  }

  .actions.btn {
    margin: $padding_small_vertical 0;
  }
}

.loading {
  background-image: url("../img/spinner.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.label{
  &.ticket-valid {
    @include label-variant($label-success-bg);
  }

  &.ticket-void {
    @include label-variant($label-default-bg);
  }

  &.ticket-refunded {
    @include label-variant($label-danger-bg);
  }

  &.ticket-failed, &.discount-code {
    @include label-variant($gray-darker);
  }

}
