
.bookings-page {
  nav {
    .uib-datepicker {
      float: left;
      margin: 0 1em;
    }

    &:after {
      content: ".";
      visibility: hidden;
      clear: both;
    }
  }

  .datepicker-wrap {
    width: 300px;
  }

  tr.failed {
    color: #888;
    text-decoration: line-through;
  }

  tr.refunded {
    color: #888;
  }
}
