.crowdstart-summary {
  ul.tiers {
    display: block;
    margin: 0;
    padding: 0;

    li.tier-status {
      display: block;
      margin: 0;
      padding: 0;
    }
  }

  .create-route-button {
    float: right;
  }

  .expired td {
    // text-decoration: line-through;
    color: #999;
  }
  .failure {
    color: red;
  }
  .success {
    color: #090;
  }
}
