/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
// @import "www/lib/ionic/scss/ionic";

$light: #FFF;
$selected: #CCC;

@import "node_modules/multiple-date-picker/dist/multiple-date-picker";
@import "node_modules/ui-select/dist/select";
@import "ngTagEditor/ngTagEditor";
@import 'scss/bootstrap';
@import 'scss/transactions';
@import 'scss/routeEditor';
@import 'scss/pathEditor';
@import 'scss/paymentView';
@import 'scss/routes';
@import 'scss/datePicker';
@import 'scss/tripsEditor';
@import 'scss/stopsPopup';
@import 'scss/routePopup';
@import 'scss/summary';
@import 'scss/bookings';
@import 'scss/tripSelector';
@import 'scss/loadingSpinner';
@import 'scss/bookingRefund';
@import 'scss/mySort';
@import 'scss/companies';
@import 'scss/datePickers';
@import 'scss/tags';
@import 'scss/issueTicket';
@import 'scss/mainMenu';

html, body {
  height: 100%;
}

table td,
table th {
  border: solid 1px #CCC;
}

th {
  font-weight: bold;
}

.angular-google-map {
  width: 100%;
  height: 100%;
}

.angular-google-map-container {
  width: 100%;
  height: 100%;
}
ui-gmap-google-map {
  width: 100%;
  height: 100%;
  display: block;
}

li.active {
  background-color: $selected;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-grow {
  flex: 1 1 auto;
}
.flex-shrink {
  flex: 0 0 auto;
}
.overflow-scroll {
  overflow-y: auto;
  overflow-x: auto;
}

nav.navbar {
  company-selector select {
    color: black;
  }
}

.admin-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 1em 0;

  ul {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 1em 1em;

      flex: 0 0 auto;
      background-color: #ccc;
      color: #000;
      min-width: 1em;
      a {
        color: #000;

        &:hover {
          color: #00C;
        }
      }
    }
  }
  super-admin-company-selector {
    flex: 0 0 auto;
  }
}

.datepicker-wrap {
  display: inline-block;
}

tr.failed {
  color: #888;
  text-decoration: line-through;
}

tr.refunded {
  color: #888;
}
