

#spinner-elem {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0,0,0,0.5);
  background-image: url('../img/spinner.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}
