label.superAdmin{
  display: inline;
  margin-bottom: 0px;
  margin-right: $padding-large-horizontal;
}

.form-control-condensed {
  display: inline;
  width:auto;
  height: $input-height-small;
  padding: $padding-small-vertical $padding-small-horizontal;
  font-size: $font-size-small;
}
