

.event-notifications.table {
  tbody td {
    width: 25%;

    event-subscription-editor label {
      max-width: 25vw;
      overflow-x: auto;

      select[multiple]:focus {
        height: 20em;
        transition: all 0.1s ease;
      }
      select[multiple]:not(:focus) {
        height: 4em;
        transition: all 0.1s ease;
      }
    }
  }
}
