

.event-notifications.table {
  .event-type {
    div {
      width: 2em;
      height: 8em;
      overflow: visible;
      transform:  rotate(-30deg) translateY(7em);
      transform-origin: 0em 8em;

      span {
        background-color: #ddd;
        white-space: nowrap;
        width: 100px;
      }
    }
  }
  tbody td {

    event-subscription-editor label {
      overflow-x: auto;
      display: block;

      select {
        max-width: 25vw;
      }

      select[multiple]:focus {
        height: 20em;
        transition: all 0.1s ease;
      }
      select[multiple]:not(:focus) {
        height: 4em;
        transition: all 0.1s ease;
      }
    }
    notification-method-editor label {
      display: block;
    }

    &.with-label {
      position: relative;
      label {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
      }
    }
  }
}
