.routes-page {
  .glyphicon-user{
    padding-left: $padding-xs-horizontal;
  }
  .route-active {
    @include label-variant($label-success-bg);
  }
  .route-ended {
    @include label-variant($label-info-bg);
  }
  .route-notstarted {
    @include label-variant($label-warning-bg);
  }
  .create-button {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
