

.stops-popup {

  .modal-dialog {
    min-width: 80vw;
  }

  ui-gmap-google-map {
    width: 100%;
    height: 400px;

    .angular-google-map, .angular-google-map-container {
      width: 100%;
      height: 100%;
    }
  }

   .stop-form{
     margin-top: $padding-large-vertical*2;
     margin-bottom: $padding-large-vertical*2;
   }
}
