

.summary-page {
  .uib-datepicker{
    margin-bottom: $padding-large-vertical*4;
    clear: both;
  }

  .company-logo {
    float: right;
    max-width: 100px;
    max-height: 100px;
  }

  .route-summaries {

    table{
      &.routeInfo{
        width: 100%;
        margin-bottom: 0;
        margin-top: $padding-large-vertical*2;
        border: 1px solid $gray-lightest;
        border-bottom: none;
        .purpleID {
          background-color: $brand-primary;
          color: $white;
          h2 {
            font-size: $font-size-large*1.5;
            margin: 0;
            padding: 0;
          }
        }
        tr{
          th{
            vertical-align: bottom;
            padding: $padding-base-vertical $padding_base_horizontal;
            color: $gray_light;
            background-color: $body-bg;
            border: none;
          }
          td{
            vertical-align: top;
            padding: 5px 10px;
            border: none;
          }
        }
      }
    }
    table{
      &.routeSummary{
        width: 100%;
        margin-bottom: $padding-large-vertical*6;
        border: 1px solid $gray-lightest;
        border-top: none;
      }
    }

    td.day, th.day {
      text-align: center;
      min-width: 2.2em;

      &::after {
        content: '\a0';
      }
    }
    td.day.has-trip {
      background-color: $white;
    }
    th {
      padding: $table-condensed-cell-padding;
      font-size: 80%;
      font-weight: normal;
      &.today {
        border: solid 2px $gray-lighter;
        font-weight: bold;
      }
    }
    th.price-summary {
      text-align: center;
      border-left: solid 2px $gray-lighter;
      background-color: $body-bg;
      /* &:nth-child(even) {
        background-color: $gray-lightest;
      }
      &:nth-child(odd) {
        background-color: $gray-lighter;
      } */
    }
    td.passenger-count {
      font-weight: bold;
    }
    td.day:not(.has-trip), th.day:not(.has-trip) {
      background: repeating-linear-gradient(
        135deg,
        $gray-lighter,
        $gray-lighter 2px,
        $gray-lightest 2px,
        $gray-lightest 4px
      );
    }
  }

}
