

ul.tags {
    padding: 0;
    margin: 0;

    li {
        display: inline;
        border-radius: 3px;
        padding: 3px;
        margin: 3px;
        background-color: #FA6;
        border: solid 1px #666;
    }
}
