
.trip-selector {
  .date-picker {
    width: 400px;
    float: right;
    border: solid 1px black;
    margin: 1em;
  }

  ul.selected-dates {
    li {
      padding: 0.5em;
      list-style-type: none;
      display: inline-block;
      border: solid 1px black;
      border-radius: 0.5em;
      margin: 0 0.5em;
    }
  }
}
