trips-editor {
  .date-filter-popup {
    width: auto;
    margin-top: $padding-large-vertical*3;
    margin-bottom: $padding-large-vertical*2;

    .create-trip-button {
      margin-left: $padding-small-horizontal*2;
    }

    .edit-trip-button {
      margin-left: $padding-small-horizontal;
    }
  }

  h3,
  h4 {
    display: inline;
  }
}

section.add-trips {
    border: solid 1px black;
    padding: 1em;

    .add-trips-components {
      max-height: 300px;

      .selected-dates {
        overflow-y: scroll;
      }
    }
}

table.trips-list {
    width: auto;
    min-width: 100%;

  tr.selected td {
    background-color: #acf4ed;
  }

  th.stop-text {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 4em;
  }
  th.radio-column {
    width: 50px;
  }
  td{
    .trip-index{
      margin-left: $padding-base-horizontal;
    }
  }
}

.date-list li {
  display: inline-block;
  margin: 0;
  padding: 0;

  &:after {
    content: ", ";
  }
}

.wide-modal .modal-dialog {
  width: 95vw;
}

.create-trips-date-popup {
  .multiple-date-picker {
    .trip-exists {
      background-color: #CCC;
      color: #666;
    }
  }
}

.add-stop-button {
  button {
    margin-bottom: $padding-large-vertical*2;
  }
}

.select-all-button {
  margin-left: $padding-xs-horizontal;
}

.reset-buttons {
  margin-bottom: $padding-large-vertical*1;
}

.label{
  &.trip-normal {
    @include label-variant($label-success-bg);
  }

  &.trip-cancelled {
    @include label-variant($label-danger-bg);
  }

  &.trip-void {
    @include label-variant($label-default-bg);
  }

  &.stop-board{
    @include label-variant($label-success-bg);
  }

  &.stop-alight{
    @include label-variant($label-danger-bg);
  }
}

.trip-data-editor .modal-dialog {
  margin: 2em 4em;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 2em);
  width: auto;

  .modal-body {
    flex: 1 1 auto;
    overflow: auto;
  }

  .form-control{
    margin-left: $padding-small-horizontal;
  }
}

.trip-data-editor {
  .stop-selector-cell {
    display: flex;
    stop-selector {
      flex: 1 1 auto;
    }
    stop-selector-popup {
      flex: 0 0 auto;
    }
  }
}
