trips-editor {
  .date-filter-popup {
    width: auto;
    margin-top: $padding-large-vertical*3;
    margin-bottom: $padding-large-vertical*2;

    .create-trip-button {
      margin-left: $padding-small-horizontal*2;
    }

    .edit-trip-button {
      margin-left: $padding-small-horizontal;
    }
  }

  h3,
  h4 {
    display: inline;
  }
}

section.add-trips {
  border: solid 1px black;
  padding: 1em;

  .add-trips-components {
    max-height: 300px;

    .selected-dates {
      overflow-y: scroll;
    }
  }
}

table.trips-list {
  width: auto;
  min-width: 100%;

  tr.selected td {
    background-color: #acf4ed;
  }
}

.date-list li {
  display: inline-block;
  margin: 0;
  padding: 0;

  &:after {
    content: ", ";
  }
}

.wide-modal .modal-dialog {
  width: 95vw;
}

.create-trips-date-popup {
  .multiple-date-picker {
    .trip-exists {
      background-color: #CCC;
      color: #666;
    }
  }
}

.add-stop-button {
  button {
    margin-bottom: $padding-large-vertical*2;
  }
}

.select-all-button {
  margin-left: $padding-xs-horizontal;
}

.reset-buttons {
  margin-bottom: $padding-large-vertical*1;
}

.trip-normal {
  @include label-variant($label-success-bg);
}

.trip-cancelled {
  @include label-variant($label-danger-bg);
}

.trip-void {
  @include label-variant($label-default-bg);
}
