.users {
  td {
    word-wrap: normal;
    word-break: break-word;
  }

  user-selector {
    .ui-select-container {
      padding-top: 33px;
    }

    .ui-select-search {
      width: 100% !important;
    }

    ul.ui-select-no-choice {
      width: 100%;
    }

    ul.ui-select-no-choice li {
      list-style: none;
      padding-left: 12px;
      padding-bottom: 0px;
    }

    ul li.ui-select-choices-group{
      list-style: none;
      padding-left: 10px;
      padding-bottom: 0px;
      width: 100%;
    }

    ul li.ui-select-choices-group .ui-select-choices-row-inner {
      padding-left: 2px
    }

  }

  .table tbody tr td {
    // vertical-align: middle;
  }

  .btm-offset {
    margin-bottom: 2px
  }

  .width-limit-md {
    width: 19%;
  }

  .width-limit-xs {
    width: 3%
  }

  .route-header {
    background-color: #AAA;
    border-color: #AAA
  }

}