  <br clear="both">
  <div class="path-editor container-fluid">
    <div class="row">
      <h4>Route Path</h4>
      <div class="col-lg-6 map-container"></div>
      <div class="col-lg-6">
        <div class="path-buttons">
          <button class="btn btn-default"
            ng-click="googlePath(tripStops)">
            Regenerate Path
          </button>
        </div>
        <textarea class="form-control"
          ng-model="path"
          placeholder="Path encoded as polyline"
          rows=10></textarea>
          <div class="path-buttons">
            <span class="btn-group">
              <button class="btn btn-primary"
                ng-click="updatePath()">
                Save route path
              </button>
              <button class="btn btn-danger"
                ng-click="clearPath()">
                Clear path
              </button>
            </span>
          </div>
      </div>
    </div>
  </div>
