<div class="path-editor">
  <button class="btn btn-default"
    ng-click="googlePath(tripStops)">
    Google path
  </button>
  <span class="btn-group">
    <button class="btn btn-primary"
      ng-click="updatePath()">
      Update path
    </button>
    <button class="btn btn-danger"
      ng-click="clearPath()">
      Clear path
    </button>
  </span>
  <div class="map-container"></div>
  <textarea class="form-control"
    ng-model="path"
    placeholder="Path encoded as polyline"
    rows=7></textarea>
</div>
