
<div>
  <button class="btn btn-default"
    ng-click="clearPath"
  >
    Clear path
  </button>

  <span class="btn-group">
    <button class="btn btn-primary"
      uib-btn-radio="'start'"
      ng-model="addToWhere"
      >
      Add to start
    </button>

    <button class="btn btn-primary"
      uib-btn-radio="'end'"
      ng-model="addToWhere"
      >
      Add to end
    </button>
  </span>
</div>

<div class="main">
  <ui-gmap-google-map
    center="{latitude: 1.38, longitude: 103.8}"
    zoom="12"
    events="events"
    options="{ draggableCursor: 'crosshair' }"
  >
    <ui-gmap-polyline
      path="pathX"
      stroke="{
        color: '#4b3863',
        weight: 3.0,
      }"
    >
    </ui-gmap-polyline>
  </ui-gmap-google-map>

  <ul class="point-list">
    <li ng-repeat="p in path"
      ng-click="path.splice($index, 1)"
    >
      {{p.lat | number:5}}, {{p.lng | number:5}}
    </li>
  </ul>
</div>
