<div class="issue-ticket-popup">
  <div class="modal-header">
    <h3>Issue Tickets</h3>
  </div>
  <div class="modal-body">
    <trip-selector trip-id="tripId" trips="trips" board-stop-id="boardStopId"
      alight-stop-id="alightStopId" route-id="routeId" reason="reason">
    </trip-selector>

    <h3>Issue to</h3>
    <user-selector ng-model="userId" user="user">
    </user-selector>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss()">
      Cancel
    </button>
    <button class="btn btn-primary" ng-click="issue()">
      Issue
    </button>
  </div>
</div>
