
<div class="route-popup">
  <div class="modal-header">
    <h3>{{route.label}}: {{route.from}} &mdash; {{route.to}}</h3>

    <button class="glyphicon glyphicon-remove"
      ng-click="closing = true">
    </button>
  </div>

  <div class="modal-body">
    <select ng-options="trip.date | date:'d MMM yyyy' for trip in trips | orderBy:'date':1"
            ng-model="trip">
    </select>

    <ui-gmap-google-map
      center="map.center"
      zoom="map.zoom"
      control="map.control"
      options="map.options"
      events="map.events"
    >
      <!-- Route path -->
      <ui-gmap-polyline path="computed.path"
                        idkey="'routePath'"
      ></ui-gmap-polyline>

      <!-- Route ping -->
      <ui-gmap-polyline path="computed.pingPath"
                        idkey="'pingPath'"
                        icons="map.pingPathOptions.icons"
                        stroke="map.pingPathOptions.stroke"
      ></ui-gmap-polyline>

      <ui-gmap-markers
        ng-if="computed.pingSamples"
        models="computed.pingSamples"
        coords="'coordinates'"
        idKey="'id'"
        options="'_options'"
        events="map.pingEvents"
        >
      </ui-gmap-markers>

      <!-- Trip stops -->
      <ui-gmap-markers
        ng-if="trip"
        models="trip.tripStops"
        coords="'stop.coordinates'"
        idKey="'id'"
        doCluster="false"
        click="stopClicked"
        options="'_options'"
        control="map.markersControl"
        >
      </ui-gmap-markers>

      <ui-gmap-window coords="selectedStop.stop.coordinates"
                      show="selectedStop">
        <div>
          <b>{{selectedStop.stop.description}}</b>
          <br/>
          {{selectedStop.time | date:'HH:mm'}}
        </div>
      </ui-gmap-window>

      <ui-gmap-window coords="selectedPing.coordinates"
                      show="selectedPing">
        <div>
          <b>{{selectedPing.time | date:'HH:mm:ss'}}</b>
        </div>
      </ui-gmap-window>

    </ui-gmap-google-map>
  </div>
</div>
