<div class="container-fluid">
  <div class="date-filter-popup">
    <div class="row">
      <div class="col-lg-4 pull-left">
        <div class="row">
          <div class="col-lg-6 text-left">
            <h4>Show trips for the month of</h4>
          </div>
          <div class="col-lg-4 pull-left">
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="MMM-yyyy" datepicker-options="{'datepickerMode': 'month'}" ng-model="filter.filterMonth" is-open="filter.$startDatePopupIsOpen">
              <span class="input-group-btn">
          <button class="btn btn-primary btn-icon" type="button" ng-click="filter.$startDatePopupIsOpen = !filter.$startDatePopupIsOpen"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
        </div>
      </div>
      <div class="col-lg-6 pull-right text-right">
        <h3 class="text-danger dates-selected">{{selection && selection.length}} trip(s) selected</h3>
        <button type="submit" class="btn btn-default edit-trip-button" ng-click="showEditTripDialog()" ng-disabled="!selection.length">Edit Selected Trips</button>
        <button type="submit" class="btn btn-primary create-trip-button" ng-click="showCreateTripDialog()" ng-disabled="selection.length">Create new trips</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 reset-buttons">
      <button type="submit" class="btn btn-default btn-xs">Refresh</button>
      <button type="submit" class="btn btn-default btn-xs select-all-button">Select All</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <multi-select-broker collection="trips" selection="selection" track-by="'id'">
      </multi-select-broker>
      <div class="table-responsive">
        <table class="table table-striped trips-list">
          <thead>
            <tr>
              <th></th>
              <!-- radio -->
              <th></th>
              <!-- index -->
              <th></th>
              <!-- trip ID -->
              <th></th>
              <!-- pax -->
              <th></th>
              <!-- booked -->
              <th></th>
              <!-- price -->
              <th></th>
              <!--date -->
              <th></th>
              <!--trip status -->
              <th></th>
              <!-- driver -->
              <th colspan="{{disp.stopsList.length}}">Stops</th>
              <th></th>
              <!-- actions (delete, use) -->
            </tr>
            <tr>
              <th></th>
              <!-- radio -->
              <th></th>
              <!-- index -->
              <th>Trip ID</th>
              <th>Date</th>
              <th>Status</th>
              <th>Cap</th>
              <th>Booked</th>
              <th>Price</th>
              <th>Driver</th>
              <th ng-repeat="stop in disp.stopsList track by $index" title="{{stop.stop.description}}">
                <small>{{stop.stop.description}}</small>
              </th>
              <th>Delete<br />Trip</be>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trip in trips track by trip.id" ng-class="{selected: selection.selected[trip.id] }" ng-mousedown="selection.$mousedown($event, $index)">
              <td>
                <input type="radio">
                <!-- help me show as selected when row is selected -->
              </td>
              <td>
                {{ $index + 1 }}
              </td>
              <td>
                <small>{{trip.id}}</small>
              </td>
              <td>
                {{trip.date | date:'dd/MM/yy EEE'}}
              </td>
              <td>
                <span class="label trip-normal">Normal</span>
                <span class="label trip-cancelled">Emergency</span>
                <span class="label trip-void">Void</span>
              </td>
              <td>
                {{trip.capacity}}
                <i class="glyphicon glyphicon-user"></i>
              </td>
              <td>
                <a ui-sref="bookings({tripId: trip.id})">
                {{trip.availability.seatsBooked}}
                <i class="glyphicon glyphicon-user"></i>
              </a>
              </td>
              <td>
                {{trip.price | number:2}}
              </td>
              <td>
                {{trip.driverTelephone }}
              </td>
              <td ng-repeat="stop in disp.stopsList">
                {{ findStop(trip, stop.stopId, stop.orderOfAppearance).time | date:'HH:mm'}}
              </td>
              <td>
                <button class="btn btn-default glyphicon glyphicon-trash" ng-click='tripList.deleteTrip(trip)'>
              </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
