<section class="container-fluid">
  <nav>
    <div class="date-filter-popup">
      Show trips for the month of
      <button class="glyphicon glyphicon-calendar"
        ng-click="filter.$startDatePopupIsOpen = !filter.$startDatePopupIsOpen">
      </button>
      <input type="text" uib-datepicker-popup="MMM-yyyy"
        datepicker-options="{'datepickerMode': 'month'}"
        ng-model="filter.filterMonth"
        is-open="filter.$startDatePopupIsOpen">
    </div>
    |

    <button class="btn btn-default" ng-click="showCreateTripDialog()">Create new trips...</button>

    |
    {{selection && selection.length}} trip(s) selected
    <button class="btn btn-default" ng-click="showEditTripDialog()"
      ng-disabled="!selection.length">Edit selected trips...</button>
  </nav>
</section>

<div>
  <multi-select-broker collection="trips" selection="selection" track-by="'id'">
  </multi-select-broker>
  <table class="table table-striped trips-list">
    <thead>
      <tr>
        <th></th> <!-- selection button -->
        <th></th> <!-- actions (delete, use) -->
        <th></th> <!-- pax -->
        <th></th> <!-- booked -->
        <th></th> <!-- price -->
        <th></th> <!--date -->
        <th></th> <!-- driver -->
        <th colspan="{{disp.stopsList.length}}">Stops</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>Cap</th>
        <th>Booked</th>
        <th>Price</th>
        <th>Date</th>
        <th>Driver</th>
        <th ng-repeat="stop in disp.stopsList track by $index"
            title="{{stop.stop.description}}">
          {{stop.stop.description.substr(0,5)}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trip in trips track by trip.id"
          ng-class="{
            selected: selection.selected[trip.id]
          }">
        <td ng-mousedown="selection.$mousedown($event, $index)">
          <input type="checkbox" ng-model="selection.selected[trip.id]"
            ng-mousedown="$event.stopPropagation()">
          <small>{{trip.id}}</small>
        </td>
        <td>
          <button class="btn btn-default glyphicon glyphicon-trash"
            ng-click='tripList.deleteTrip(trip)'
          >
          </button>
        </td>
        <td>
          {{trip.capacity}}
          <i class="glyphicon glyphicon-user"></i>
        </td>
        <td>
          <a ui-sref="bookings({tripId: trip.id})">
            {{trip.availability.seatsBooked}}
            <i class="glyphicon glyphicon-user"></i>
          </a>
        </td>
        <td>
          {{trip.price | number:2}}
        </td>
        <td>
          {{trip.date | date:'dd/MM/yy EEE'}}
        </td>
        <td>
          {{trip.driverTelephone }}
        </td>
        <td ng-repeat="stop in disp.stopsList">
          {{ findStop(trip, stop.stopId, stop.orderOfAppearance).time | date:'HH:mm'}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
