<div class="trip-data-editor">
  <!-- If creating trips, tripIds doesn't exist -->
  <div class="modal-header" ng-if="!currentTrip.data.editingTrips">
    <h3>Create trips</h3>
    <ul class="date-list">
      <li ng-repeat="date in currentTrip.data.newDates | orderBy:date.valueOf()">
        {{date.format('DD-MMM-YYYY')}}
      </li>
    </ul>
  </div>

  <!-- If editing trips, tripIds exist -->
  <div class="modal-header" ng-if="currentTrip.data.editingTrips">
    <h3>Edit trips</h3>
    <ul class="date-list">
      <p>
        Trip ID:
      </p>
      <li ng-repeat="trip in currentTrip.data.editingTrips">
        {{trip.id}} ({{trip.date | date: 'dd-MMM-yyyy'}})
      </li>
    </ul>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="overflow-scroll">
        <div class=" trip-data-editor-nav">
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <label ng-if="adminService.session().role == 'superadmin'">
            Company:
            <company-selector class="form-control" ng-model="currentTrip.data.trip.transportCompanyId">
            </company-selector>
            </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
              <div class="flex-grow">
                <div class="flex-row form-inline">
                  <div class="flex-grow">
                    <label>
                    Trip capacity: <input type="number" class="form-control" min="0" ng-model="currentTrip.data.trip.capacity" />
                  </label>
                    <br />
                    <label>
                    Trip price: <input type="number" class="form-control" min="0" step="0.01" ng-model="currentTrip.data.trip.price" />
                  </label>
                  </div>
                  <div class="flex-grow">
                    <label>
                    Driver Id: <input type="tel" class="form-control" ng-model="currentTrip.data.trip.driverId" />
                  </label>
                    <br />
                    <label>
                    Trip Status
                      <trip-status-selector class="form-control" ng-model="currentTrip.data.trip.status"></trip-status-selector>
                    </label>
                  </div>
                  <div class="flex-grow">
                    <label>
                    Close booking
                    <select class="form-control" ng-model="currentTrip.data.trip.bookingInfo.windowSize"
                      ng-options="opt.size as opt.label for opt in disp.windowSizeOptions">
                    </select>
                  </label>
                    <label>
                    ... before
                    <select class="form-control" ng-model="currentTrip.data.trip.bookingInfo.windowType">
                      <option value="stop">passenger's pick-up stop</option>
                      <option value="firstStop">first stop of trip</option>
                    </select>
                  </label>

                    <br />
                    <label>
                    Notes to passenger:
                    <input type="text" class="form-control" ng-model="currentTrip.data.trip.bookingInfo.notes">
                  </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1">
            <div class="add-stop-button">
              <button class="btn btn-primary btn-lg" ng-click="currentTrip.addTripStop()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add a Stop
            </button>
            </div>
          </div>
          <div class="col-lg-10 col-lg-offset-1">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-condensed table-hover">
                <thead>
                  <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Stop</th>
                    <th>Boarding</th>
                    <th>Alighting</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="tripStop in currentTrip.data.trip.tripStops">
                    <td>
                      {{ $index + 1 }}
                    </td>
                    <td>
                      <input class="form-control" type="time" ng-model="tripStop.time" />
                    </td>
                    <td class="form-inline">
                      <!-- <input type="text" ng-model="tripStop.stopId"> -->
                      <stop-selector class="form-control" ng-model="tripStop.stopId"></stop-selector>
                      <stop-selector-popup ng-model="tripStop.stopId" class="btn btn-default btn-icon">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Add/Edit Stop
                      </stop-selector-popup>
                    </td>
                    <td>
                      <label>
                      <input type="checkbox" ng-model="tripStop.canBoard" />
                      Boarding
                    </label>
                    </td>
                    <td>
                      <label>
                      <input type="checkbox" ng-model="tripStop.canAlight" />
                      Alighting
                    </label>
                    </td>
                    <td class="text-center">
                      <button class="btn btn-danger btn-icon" ng-click="currentTrip.deleteTripStop($index)">
                      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- trip-data-editor -->

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(currentTrip.data)">
      Save
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">
      Cancel
    </button>
  </div>
</div>
