<nav class="navbar navbar-inverse">
  <!-- Fixed navbar -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <a class="navbar-brand" href="#">Beeline Admin</a>
      <ul class="nav navbar-nav">
        <li><a ui-sref="bookings">Bookings</a></li>
        <li><a ui-sref="routes({routeId: 0, action: 'route'})">Routes</a></li>
        <li><a ui-sref="driver">Drivers</a></li>
        <li><a ui-sref="summary">Summary</a></li>
        <li ng-if="adminService.isSuperAdmin()"><a href="#">Incidents</a></li>
        <li uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle>Company <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a ui-sref="companies">Edit Profile</a></li>
            <li><a ui-sref="admins">Users</a></li>
            <li ng-if="adminService.isSuperAdmin()"><a ui-sref="transactions">Transactions</a></li>
          </ul>
        </li>
        <li  ng-if="adminService.isSuperAdmin()" uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle>Super Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-if="adminService.isSuperAdmin()"><a ui-sref="trips({routeId: 0, action: 'route'})">Route Trip Editor</a></li>
            <li ng-if="adminService.isSuperAdmin()"><a ui-sref="assets">Assets</a></li>


          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li ng-if="adminService.isSuperAdmin()">
            <a><super-admin-company-selector></super-admin-company-selector></a>
        </li>

        <li ng-if="!auth.isAuthenticated">
          <a ng-click="adminService.login()">
        Login
      </a>
        </li>

        <li ng-if="auth.isAuthenticated">
          <a ng-click="adminService.logout()">Log out</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>

</nav>
