<div class="criterion-editor">
  <label>
    Type
    <select ng-options="type.type as type.description for type in criterionTypes"
      ng-model="editCriterion.type" class="form-control" >
    </select>
  </label>

  <br/>
  <label ng-if="editCriterion.type == 'limitByCompany'">
    Company:
    <company-selector ng-model="params.limitByCompany.companyId" class="form-control" >
    </company-selector>
  </label>
  <label ng-if="editCriterion.type == 'limitByContactList'">
    Telephone List:
    <contact-list-selector ng-model="params.limitByContactList.contactListId" class="form-control" >
    </contact-list-selector>
  </label>
  <label ng-if="editCriterion.type == 'limitByRoute'">
    Routes:
    <br>
    <select multiple
      ng-options="route.id as route._description for route in disp.routes | orderBy:'label'"
      ng-model="params.limitByRoute.routeIds"
      class="route-ids-criterion">
    </select>
  </label>

  <label ng-if="editCriterion.type == 'limitByRouteTags'">
    Tags:
    <tag-editor ng-model="params.limitByRouteTags.$$tags">
    </tag-editor>
  </label>

  <div ng-if="editCriterion.type == 'limitByPurchaseDate'">
    <label>
      Start date (inclusive):
    </label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="params.limitByPurchaseDate.$$startDate"
        uib-datepicker-popup="dd MMM yyyy"
        is-open="disp.limitByPurchaseDate.$startDateOpen" />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button"
          ng-click="disp.limitByPurchaseDate.$startDateOpen = !disp.limitByPurchaseDate.$startDateOpen">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <label>
      End date (inclusive):
    </label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="params.limitByPurchaseDate.$$endDate"
        uib-datepicker-popup="dd MMM yyyy"
        is-open="disp.limitByPurchaseDate.$endDateOpen" />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button"
          ng-click="disp.limitByPurchaseDate.$endDateOpen = !disp.limitByPurchaseDate.$endDateOpen">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>

  <div ng-if="editCriterion.type == 'limitByTripDate'">
    <label>
      Start date (inclusive):
    </label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="params.limitByTripDate.$$startDate"
        uib-datepicker-popup="dd MMM yyyy"
        is-open="disp.limitByTripDate.$startDateOpen" />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button"
          ng-click="disp.limitByTripDate.$startDateOpen = !disp.limitByTripDate.$startDateOpen">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <label>
      End date (inclusive):
    </label>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="params.limitByTripDate.$$endDate"
      uib-datepicker-popup="dd MMM yyyy"
        is-open="disp.limitByTripDate.$endDateOpen" />
      <span class="input-group-btn">
        <button class="btn btn-primary btn-icon" type="button"
          ng-click="disp.limitByTripDate.$endDateOpen = !disp.limitByTripDate.$endDateOpen">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>

  <div ng-if="editCriterion.type == 'limitByTripDayOfWeek'">
    Days of week promo is valid for:
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[0]" />
      Sunday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[1]" />
      Monday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[2]" />
      Tuesday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[3]" />
      Wednesday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[4]" />
      Thursday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[5]" />
      Friday
    </label>
    <label>
      <input type="checkbox" ng-model="params.limitByTripDayOfWeek[6]" />
      Saturday
    </label>
  </div>
</div>
