<div>
  <label>
    Type
  </label>
    <select ng-options="type.type as type.description for type in discountTypes"
      ng-model="editDiscount.type"
      class="form-control">
    </select>
  <div ng-if="editDiscount.type == 'simpleRate'">
    <div>
      Rate (%)
    </div>
    <div>
      <percent-input ng-model="params.simpleRate.rate"
        my-class="form-control">
      </percent-input>
    </div>
  </div>

  <label ng-if="editDiscount.type == 'simpleFixed'">
    Discount
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" step="0.01" ng-model="params.simpleFixed.fixed"
        class="form-control" />
    </div>
  </label>

  <label ng-if="editDiscount.type == 'flatPrice'">
    Flat price at:
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="number" step="0.01" ng-model="params.flatPrice.price"
        class="form-control" />
    </div>
  </label>

  <div ng-if="editDiscount.type == 'tieredRateByQty'">
    <div ng-repeat="tier in params.tieredRateByQty.schedule" class="form-inline">
      When user buys at least <input type="number" placeholder="Min tickets to qualify" step="1" ng-model="tier[0]"
        class="form-control" /> tickets,

      <br/>
      discount the price by <percent-input type="number" placeholder="Discount rate (0 - 100)" ng-model="tier[1]"></percent-input>

      <button ng-click="params.tieredRateByQty.schedule.splice($index, 1)" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
      <hr/>
    </div>
    <button ng-click="addTier('schedule')" class="btn btn-default">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>
