<div class="container-fluid">
  <div ng-show="!route">
    <h4>Please select a route</h4>
  </div>
  <div ng-show="route">
    <div class="row route-display">
      <table class="borderless">
        <tr>
          <td>
            <div class="route-label">
              {{route.label}}
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            From
          </td>
          <td>
            {{route.from}}
          </td>
        </tr>
        <tr>
          <!-- <td>
          </td> -->
          <td>
            To
          </td>
          <td>
            {{route.to}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Route ID to ping : {{route.id}}
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <uib-tabset active="active">
        <uib-tab index="0" heading="Edit Route Description">
          <div class="editor-tabs-content">
            <div class="row">
              <div class="col-md-6 form-horizontal">
                <label>
                  Label:  </label>
                <input type="text" class="form-control" ng-model="route.label">


                <label>
                  Name:   </label>
                <input type="text" class="form-control" ng-model="route.name">


                <label>
                  From:  </label>
                <input type="text" class="form-control" ng-model="route.from">


                <label>
                  To:</label>
                <input type="text" class="form-control" ng-model="route.to">

              </div>

              <div class="col-md-6 form-inline">
                <label>
                  Schedule:  </label>
                <input type="text" class="form-control" ng-model="route.schedule">


                <label>Tags:</label>
                <tag-editor ng-model="disp.routeTags">
                </tag-editor>

                <!-- ng-if creates a scope -->
                <label ng-if="adminService.session().role == 'superadmin'">
                  Company:</label>
                <company-selector class="form-control" ng-model="$parent.route.transportCompanyId">
                </company-selector>
              </div>

              <div class="path-editor">
                <path-editor path="route.path" trip-stops="tripStops">
                </path-editor>
              </div>

              <div class="row">
                <div class="route-buttons">
                  <div class="btn-group">
                    <button class="btn btn-primary" ng-click="saveRoute()" ng-disabled="!route">
                      Save
                    </button>
                    <button class="btn btn-default" ng-click="resetRoute()">
                      Reset
                    </button>
                  </div>
                  <button class="btn btn-danger" ng-click="deleteRoute()" ng-disabled="!route || !route.id">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1" heading="Edit Trips">
          <trips-editor route-id="route.id" ng-if="route.id">
          </trips-editor>
        </uib-tab>
      </uib-tabset>
    </div>
  </div>

</div>
