<div class="route-popup">
  <div class="modal-header">
    <h4>{{title}}</h4>
  </div>

  <div class="modal-body">
    <div>{{message}}</div>

    <li ng-repeat="choice in choices" class="radio">
      <label>
        <input type="radio" ng-model="data.result" value="{{choice}}"/>

        {{choice}}
      </label>
    </li>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$close(null)">
      Cancel
    </button>
    <button class="btn btn-primary" ng-click="$close(data.result)">
      OK
    </button>
  </div>
</div>