<div class="trip-selector form-inline">
  <div class="date-picker">
    <h3>Dates (Seats available)</h3>

    <multiple-date-picker
      days-allowed="disp.datepicker.daysAllowed"
      highlight-days="disp.datepicker.highlightDays"
      ng-model="data.selectedDates">
    </multiple-date-picker>
  </div>

  <div>
    <label>
      Route
    </label>
    <select ng-options="route.id as displayRoute(route) for route in info.routes | orderBy:'label'"
            ng-model="data.routeId"
            class="form-control form-inline">
    </select>
  </div>

  <label>
    Boarding Stop
    <select ng-options="tripStop as displayStop(tripStop) for tripStop in info.tripStops | filter:isBoardStop"
      ng-model="boardStop" class="form-control"
    >
    </select>
  </label>

  <label>
    Alighting Stop
    <select ng-options="tripStop as displayStop(tripStop) for tripStop in info.tripStops | filter:isAlightStop"
      ng-model="alightStop" class="form-control"
    >
    </select>
  </label>

  <div>
    <label>
      Reason
      <textarea class="form-control" ng-model="reason">e.g. Bus did not turn up</textarea>
    </label>
  </div>

  <div>
    Selected Trips:
    <ul class="selected-dates">
      <li ng-repeat="trip in data.trips">
        {{trip.date | date:'dd MMM yyyy'}}
        <button ng-click="removeTrip(trip.date)"
          class="btn btn-danger">
          (remove)
        </button>
      </li>
    </ul>

  </div>
  <!-- <dl>
    <dt>Trip ID</dt>
    <dd>{{tripId}}</dd>

    <dt>Board Stop ID</dt>
    <dd>{{boardStopId}}</dd>

    <dt>Alight Stop ID</dt>
    <dd>{{alightStopId}}</dd>
  </dl> -->
  <br clear="both" />
</div>
