<div class="trip-selector">
  <div class="row">
    <div class="col-sm-8 pull-right">
        <h4>Select Route</h4>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-sm-2">Route</label>
          <div class="col-sm-10">
            <select ng-options="route.id as displayRoute(route) for route in info.routes | orderBy:'label'" ng-model="data.routeId" class="form-control">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Selected Date(s)</label>
          <div class="col-sm-10">
            <ul class="selected-dates">
              <li ng-repeat="trip in data.trips">
                {{trip.date | date:'dd MMM yyyy'}}
                <button class="btn btn-link" ng-click="removeTrip(trip.date)"><span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Boarding Stop</label>
          <div class="col-sm-10">
            <select ng-options="tripStop as displayStop(tripStop) for tripStop in info.tripStops | filter:isBoardStop" ng-model="boardStop" class="form-control">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Alighting Stop</label>
          <div class="col-sm-10">
            <select ng-options="tripStop as displayStop(tripStop) for tripStop in info.tripStops | filter:isAlightStop" ng-model="alightStop" class="form-control">
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2">Reason</label>
          <div class="col-sm-10">
            <textarea class="form-control" ng-model="reason">e.g. Bus did not turn up</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-4 pull-left">
      <div class="date-picker">
        <h5 class="text-center">Dates (Seats available)</h5>
        <multiple-date-picker days-allowed="disp.datepicker.daysAllowed" highlight-days="disp.datepicker.highlightDays" ng-model="data.selectedDates">
        </multiple-date-picker>
      </div>
    </div>
  </div>
</div>
