<div ng-switch="type">
  <div ng-switch-when="lifecycle">
    You will be notified when a server is spawned
  </div>

  <div ng-switch-when="transactionFailure">
    You will be notified when transactions fail
  </div>

  <div ng-switch-when="newBooking">
    <label>
      <input type="checkbox" ng-model="options.setRouteIds" />
      Filter by routes
    </label>
    <label ng-show="options.setRouteIds">
      Routes:<br/>
      <select multiple
        ng-options="route.id as route._description
        for route in routes"
        ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
      </select>
    </label>
  </div>

  <div ng-switch-when="urgentBooking">
    <label>
      <input type="checkbox" ng-model="options.setRouteIds" />
      Filter by routes
    </label>
    <label ng-show="options.setRouteIds">
      Routes:<br/>
      <select multiple
        ng-options="route.id as route._description
        for route in routes"
        ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
      </select>
    </label>
    <label>
      <select ng-model="ngModel.maxTimeToTrip" class="form-control"
        ng-options="t[0] as t[1] for t in disp.urgentBookingTimeOptions">
      </select>
    </label>
  </div>

  <div ng-switch-when="noPings">
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as route._description
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
      <label>
        Notification thresholds
        <select ng-model="ngModel.minsBefore" class="form-control"
          ng-options="t[0] as t[1] for t in disp.noPingTimeOptions" multiple>
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-when="lateArrival">
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as route._description
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
      <label>
        Lateness threshold
        <select ng-model="ngModel.timeAfter" class="form-control"
          ng-options="t[0] as t[1] for t in disp.lateArrivalTimeOptions">
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-when="passengersMessaged">
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as route._description
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-when="tripCancelled">
    <div>
      Receive notifications when trips are cancelled
    </div>
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as route._description
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-default>
    Please select an event type
  </div>
</div>
