<div ng-switch="type">
  <div ng-switch-when="lifecycle">
    You will be notified when a server is spawned
  </div>

  <div ng-switch-when="transactionFailure">
    You will be notified when transactions fail
  </div>

  <div ng-switch-when="newBooking">
    <label>
      <input type="checkbox" ng-model="options.setRouteIds" />
      Filter by routes
    </label>
    <br/>
    <label ng-show="options.setRouteIds">
      Routes:<br/>
      <select multiple
        ng-options="route.id as (route.label + ': ' + route.from + ' to ' + route.to)
        for route in routes"
        ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
      </select>
    </label>
  </div>

  <div ng-switch-when="urgentBooking">
    <label>
      <input type="checkbox" ng-model="options.setRouteIds" />
      Filter by routes
    </label>
    <br/>
    <label ng-show="options.setRouteIds">
      Routes:<br/>
      <select multiple
        ng-options="route.id as (route.label + ': ' + route.from + ' to ' + route.to)
        for route in routes"
        ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
      </select>
    </label>
    <label>
      Notify when no pings received
      <select ng-model="ngModel.timeToTrip" class="form-control"
        ng-options="t[0] as t[1] for t in disp.timeOptions">
      </select>
    </label>
  </div>

  <div ng-switch-when="noPings">
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <br/>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as (route.label + ': ' + route.from + ' to ' + route.to)
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
      <label>
        Notify when no pings received
        <select ng-model="ngModel.timeBefore" class="form-control"
          ng-options="t[0] as t[1] for t in disp.timeOptions">
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-when="tripCancelled">
    <div>
      Receive notifications when trips are cancelled
    </div>
    <div>
      <label>
        <input type="checkbox" ng-model="options.setRouteIds" />
        Filter by routes
      </label>
      <br/>
      <label ng-show="options.setRouteIds">
        Routes:<br/>
        <select multiple
          ng-options="route.id as (route.label + ': ' + route.from + ' to ' + route.to)
          for route in routes"
          ng-model="ngModel.routeIds" ng-disabled="!options.setRouteIds">
        </select>
      </label>
    </div>
  </div>

  <div ng-switch-default>
    Please select an event type
  </div>
</div>
