<div class="container withnav admin">
  <div class="row">
    <h1>Profile</h1>

    <form ng-submit="saveProfile()">
      <div>
        <label>
          Name:
          <input type="text" ng-model="data.name" placeholder="John Doe" />
        </label>
      </div>
      <div>
        <label>
          Email address:
          <input type="email" ng-model="data.email" placeholder="john@example.com" />

          <span class="warning">
            <i class="glyphicon glyphicon-warning-sign"></i>
            Please ensure that you can access this email address
          </span>
        </label>
      </div>

      <div>
        <label>
          Telephone:
          <input type="tel" ng-model="data.telephone" placeholder="9XXX XXXX" />
        </label>
      </div>

      <h1>Alert media</h1>

      <h2>Email</h2>
      {{data.email}}
      <h2>Telegram</h2>
      <div>
        To get your chat id, please talk to @beeline_server_bot.
      </div>
      <div>
        <label>
          Chat ID
          <input type="tel" ng-model="data.notes.telegramChatId" placeholder="12345" />
        </label>
      </div>

      <button type="submit" class="btn btn-primary">
        Save
      </button>
    </form>

    <h1>Notifications</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Event Type</th>
          <th>Options</th>
          <th>Notification method</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="eventSubscription in eventSubscriptions" ng-form="form">
          <td>
            <select ng-options="eventType for eventType in disp.eventTypes"
                ng-model="eventSubscription.event" class="form-control" ng-required="true">
            </select>
          </td>
          <td>
            <event-subscription-editor type="eventSubscription.event"
              ng-model="eventSubscription.params">
            </event-subscription-editor>
          </td>
          <td>
            <select ng-options="notificationMethod for notificationMethod in disp.notificationMethods"
              ng-model="eventSubscription.handler" class="form-control" ng-required="true">
            </select>
          </td>
          <td>
            <button ng-click="subscriptions.saveOne(eventSubscription)" class="btn btn-default glyphicon glyphicon-save"
              ng-disabled="form.$pristine || form.$invalid">
            </button>
            <button ng-click="subscriptions.deleteOne(eventSubscription)" class="btn btn-danger glyphicon glyphicon-trash">
            </button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <button ng-click="subscriptions.add()" class="glyphicon glyphicon-plus btn btn-default">
            </button>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>
