
<div class="container-fluid withnav promotions-list">
  <div class="col-lg-12">
    <h1>Manage Promotions</h1>

    <div style="text-align: right">
      <button ng-click="postNew()" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Add Promo Code
      </button>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th my-sort="" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 3%"></th>
          <th my-sort="id" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 5%">ID</th>
          <th my-sort="type" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 5%">Type</th>
          <th my-sort="code" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 10%">Code</th>
          <th my-sort="description" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 15%">Description</th>
          <th my-sort="" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 15%">Limits</th>
          <th my-sort="promotion.counts.global / promotion.params.usageLimit.globalLimit" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 15%">Usage</th>
          <th my-sort="" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 15%">Criteria</th>
          <th my-sort="" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 15%">Discount</th>
          <th my-sort="createdAt" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 5%">Created at</th>
          <th my-sort="updatedAt" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 5%">Updated at</th>
          <th my-sort="" sort-direction="filter.order" sort-model="filter.orderBy" style="width: 7%"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="promotion in sortedPromotions track by promotion.id">
          <td>
            {{$index + 1}}
          </td>
          <td>
            <a ui-sref="^.promotions({promoId: promotion.id})">
              {{promotion.id}}
            </a>
          </td>
          <td>
            {{promotion.type}}
          </td>
          <td>
            <a ui-sref="^.promotions({promoId: promotion.id})">
              {{promotion.code}}
            </a>
          </td>
          <td>
            <a ui-sref="^.promotions({promoId: promotion.id})">
              {{promotion.description}}
            </a>
          </td>
          <td>
            <div ng-if="promotion.params.usageLimit.userLimit">
              <b>Per User:</b> {{promotion.params.usageLimit.userLimit}}
              <br/>
            </div>
            <div ng-if="promotion.params.usageLimit.globalLimit">
              <b>All Redemptions:</b> {{promotion.params.usageLimit.globalLimit}}
              <br/>
            </div>
          </td>
          <td>
            <div ng-if="promotion.params.usageLimit.globalLimit">
              {{promotion.counts.global / promotion.params.usageLimit.globalLimit | number:0}}%
            </div>
            <div ng-if="promotion.counts && promotion.counts.global !== undefined">
              {{promotion.counts.global}} redemptions
            </div>
            <div ng-if="promotion.params.usageLimit.userLimit">
              {{promotion.counts.distinctUsers}} unique users
            </div>
          </td>
          <td>
            <ol class="criteria">
              <li ng-repeat="criterion in promotion.params.qualifyingCriteria track by $index">
                <b>{{criterion.type}}</b>
                <ul>
                  <li ng-repeat="(key, value) in criterion.params">
                    {{key}}: {{value}}
                  </li>
                </ul>
              </li>
            </ol>
          </td>
          <td>
            <b>{{promotion.params.discountFunction.type}}</b>
            <ul class="discount">
              <li ng-repeat="(key, value) in promotion.params.discountFunction.params track by key">
                {{key}}: {{value}}
              </li>
            </ul>
          </td>
          <td>
            {{promotion.createdAt | date:'dd MMM yyyy HH:mm:ss':'+0800'}}
          </td>
          <td>
            {{promotion.updatedAt | date:'dd MMM yyyy HH:mm:ss':'+0800'}}
          </td>
          <td>
            <button class="btn btn-default" ui-sref="^.promotions({promoId: promotion.id})">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button ng-click="destroy(promotion)" class="btn btn-danger">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
