
<div class="container-fluid withnav">
  <div class="col-lg-12">
  <h1>Transactions</h1>

  <!-- transaction dates -->
  <div class="datepicker-wrap">
    Select the start date, and the end date:
    <span-select
      highlight-days="disp.highlightDays"
      first-date="filter.startDate"
      last-date="filter.endDate">
    </span-select>
  </div>

  <section>
    <!-- transaction types -->
    <div>
      Status:
      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.ticketSale"
          />
          Ticket Sale
      </label>

      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.ticketRefund"
          />
          Ticket Refund
      </label>

      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.ticketExpense"
          />
          Free Tickets (Ticket Expense)
      </label>
      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.payment"
          />
          Payments
      </label>
      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.refundPayment"
          />
          Payments
      </label>
      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.transfer"
          />
          Beeline <-> Operator Funds Transfer
      </label>
      <label>
        <input type="checkbox"
          ng-model="filter.itemTypes.account"
          />
          Account
      </label>
    </div>

    <!-- txn id -->
    <div>
      <label>
      Transaction ID
        <input type="text"
        ng-model="filter.transactionId"
        ng-model-options="{ updateOn: 'blur' }"
        />
      </label>
    </div>

    <!-- ticket id -->
    <div>
      <label>
      Ticket ID
        <input type="text"
        ng-model="filter.ticketId"
        ng-model-options="{ updateOn: 'blur default', debounce: { 'default': 500, 'blur': 0 } }"
        />
      </label>
    </div>

    <!-- user search -->
    <div>
      <label>
      User search
        <input type="text"
        ng-model="filter.userQuery"
        ng-model-options="{ updateOn: 'blur default', debounce: { 'default': 500, 'blur': 0 } }"
        />
      </label>
    </div>

    <button ng-click="downloadCsv()">
      Download CSV
    </button>
    <button ng-click="downloadStatement()">
      Download Statement
    </button>
  </section>


  <uib-pagination
    boundary-links="true"
    ng-model="filter.currentPage"
    total-items="filter.pageCount * filter.perPage"
    items-per-page="filter.perPage"
  ></uib-pagination>

  <table class="table table-striped transactions-view">
    <thead>
      <tr>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="id" ng-if="adminService.isSuperAdmin()">Actions</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="transactionId" class="id">Txn ID</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="createdAt" class="id">Txn Date</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="id">Txn Description</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="id">Txn Item ID</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="itemType" class="item-type">Item type</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-type">Item ID</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 1</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 2</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 3</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 4</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 5</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="item-description">Description 6</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="debit-credit">Debit</th>
        <th sort-model="filter.orderBy" sort-direction="filter.order" my-sort="" class="debit-credit">Credit</th>
      </tr>
    </thead>

    <tr ng-repeat="item in transactionItems track by $index"
      ng-class="{
        failed: !item.transaction.committed
      }"
    >
      <td ng-if="adminService.isSuperAdmin()">
      </td>
      <td>{{item.transaction.id}}<br/>
      </td>
      <td>{{item.transaction.createdAt | date:'dd-MMM-yy HH:mm:ss'}}</td>
      <td>{{item.transaction.description}}</td>
      <td>{{item.id}}</td>
      <td>{{item.itemType}}</td>
      <td>{{item.itemId}}</td>

      <!-- for each ticket type -->
      <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.name || item.ticketSale.user.name}}
          {{item.ticketSale.user.json.index >= 0 ? '#' + (item.ticketSale.user.json.index + 1) : ''}}
      </td>
      <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.telephone || item.ticketSale.user.telephone}}</td>
      <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.email || item.ticketSale.user.email}}</td>
      <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.boardStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.alightStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketSale'">
        <a ui-sref="bookings({routeId: item.ticketSale.boardStop.trip.routeId})">
          {{item.ticketSale.boardStop.trip.route.label}}
        </a>
        -
        <a ui-sref="bookings({tripId: item.ticketSale.boardStop.tripId})">
          Trip #{{item.ticketSale.boardStop.tripId}}
        </a>
      </td>

      <!-- for each ticket type -->
      <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.name || item.ticketRefund.user.name}}</td>
      <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.telephone || item.ticketRefund.user.telephone}}</td>
      <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.email || item.ticketRefund.user.email}}</td>
      <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.boardStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.alightStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketRefund'">
        <a ui-sref="bookings({routeId: item.ticketRefund.boardStop.trip.routeId})">
          {{item.ticketRefund.boardStop.trip.route.label}}
        </a>
        -
        <a ui-sref="bookings({tripId: item.ticketRefund.boardStop.tripId})">
          Trip #{{item.ticketRefund.boardStop.tripId}}
        </a>
      </td>

      <!-- for each ticket type -->
      <td ng-if="item.itemType == 'ticketExpense'">{{(item.ticketExpense.user.json.name) || item.ticketExpense.user.name}}</td>
      <td ng-if="item.itemType == 'ticketExpense'">{{(item.ticketExpense.user.json.telephone) || item.ticketExpense.user.telephone}}</td>
      <td ng-if="item.itemType == 'ticketExpense'">{{(item.ticketExpense.user.json.email) || item.ticketExpense.user.email}}</td>
      <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.boardStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.alightStop.stop.description}}</td>
      <td ng-if="item.itemType == 'ticketExpense'">
        <a ui-sref="bookings({routeId: item.ticketExpense.boardStop.trip.routeId})">
          {{item.ticketExpense.boardStop.trip.route.label}}
        </a>
        -
        <a ui-sref="bookings({tripId: item.ticketExpense.boardStop.tripId})">
          Trip #{{item.ticketExpense.boardStop.tripId}}
        </a>
      </td>

      <!-- payment -->
      <td ng-if="item.itemType == 'payment'">{{item.payment.paymentResource}}</td>
      <td ng-if="item.itemType == 'payment'"></td>
      <td ng-if="item.itemType == 'payment'"></td>
      <td ng-if="item.itemType == 'payment'"></td>
      <td ng-if="item.itemType == 'payment'"></td>
      <td ng-if="item.itemType == 'payment'"></td>

      <!-- payment -->
      <td ng-if="item.itemType == 'refundPayment'">{{item.refundPayment.paymentResource}}</td>
      <td ng-if="item.itemType == 'refundPayment'"></td>
      <td ng-if="item.itemType == 'refundPayment'"></td>
      <td ng-if="item.itemType == 'refundPayment'"></td>
      <td ng-if="item.itemType == 'refundPayment'"></td>
      <td ng-if="item.itemType == 'refundPayment'"></td>

      <!-- revenue/expense accounts -->
      <td ng-if="item.itemType == 'account'">{{item.account.name}}</td>
      <td ng-if="item.itemType == 'account'"></td>
      <td ng-if="item.itemType == 'account'"></td>
      <td ng-if="item.itemType == 'account'"></td>
      <td ng-if="item.itemType == 'account'"></td>
      <td ng-if="item.itemType == 'account'"></td>

      <!-- transfers -->
      <td ng-if="item.itemType == 'transfer'">{{item.transfer.transportCompanyId}}</td>
      <td ng-if="item.itemType == 'transfer'"></td>
      <td ng-if="item.itemType == 'transfer'"></td>
      <td ng-if="item.itemType == 'transfer'"></td>
      <td ng-if="item.itemType == 'transfer'"></td>
      <td ng-if="item.itemType == 'transfer'"></td>

      <!-- debit/credit -->
      <td>{{item.debit >= 0 ? item.debit : ''}}</td>
      <td>{{item.credit >= 0 ? item.credit : ''}}</td>
      </td>
    </tr>
  </table>
    </div></div>
