<div>
    <h1>Transactions</h1>

    <uib-pagination
      boundary-links="true"
      ng-model="filter.currentPage"
      total-items="filter.pageCount * filter.perPage"
      items-per-page="filter.perPage"
    ></uib-pagination>

    <section>
      <!-- transaction dates -->
      <div class="datepicker-wrap">
        Select Month:<br clear="both">
        <uib-datepicker ng-model="disp.month"
            datepicker-options="{minMode: 'month'}"></uib-datepicker>
      </div>

      <div class="datepicker-wrap">
      Select Start Date:<br clear="both">
      <uib-datepicker ng-model="filter.startDate"
          datepicker-options="{minMode: 'day'}"></uib-datepicker>
      </div>

      <div class="datepicker-wrap">
      Select End Date:<br clear="both">
      <uib-datepicker ng-model="filter.endDate"
          datepicker-options="{minMode: 'day'}"></uib-datepicker>
      </div>

      <!-- transaction types -->
      <div>
        Status:
        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.ticketSale"
            />
            Ticket Sale
        </label>

        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.ticketRefund"
            />
            Ticket Refund
        </label>

        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.ticketExpense"
            />
            Free Tickets (Ticket Expense)
        </label>
        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.payment"
            />
            Payments
        </label>
        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.transfer"
            />
            Beeline <-> Operator Funds Transfer
        </label>
        <label>
          <input type="checkbox"
            ng-model="filter.itemTypes.account"
            />
            Account
        </label>
      </div>


      <!-- order by -->
      <div>
        Order By
        <label>
          <input type="radio"
          ng-model="filter.orderBy"
          value="createdAt"
          />
          CreatedAt
        </label>
        <label>
          <input type="radio"
          ng-model="filter.orderBy"
          value="transactionId"
          />
          Transaction Id
        </label>
        <label>
          <input type="radio"
          ng-model="filter.itemType"
          value="itemType"
          />
          Item Type
        </label>
      </div>

      <!-- order -->
      <div>
        Order
        <label>
          <input type="radio"
          ng-model="filter.order"
          value="desc"
          />
          Descending
        </label>
        <label>
          <input type="radio"
          ng-model="filter.order"
          value="asc"
          />
          Ascending
        </label>
      </div>

      <!-- txn id -->
      <div>
        <label>
        Transaction ID
          <input type="text"
          ng-model="filter.transactionId"
          ng-model-options="{ updateOn: 'blur' }"
          />
        </label>
      </div>

      <!-- user search -->
      <div>
        <label>
        User search
          <input type="text"
          ng-model="filter.userQuery"
          ng-model-options="{ updateOn: 'blur default', debounce: { 'default': 500, 'blur': 0 } }"
          />
        </label>
      </div>
    </section>

    <table class="table table-striped transactions-view">
      <thead>
        <tr>
          <th class="id">Actions</th>
          <th class="id">Txn ID</th>
          <th class="id">Txn Date</th>
          <th class="id">Txn Description</th>
          <th class="id">Txn Item ID</th>
          <th class="item-type">Item type</th>
          <th class="item-description">Item D1</th>
          <th class="item-description">Item D2</th>
          <th class="item-description">Item D3</th>
          <th class="item-description">Item D4</th>
          <th class="item-description">Item D5</th>
          <th class="debit-credit">Debit</th>
          <th class="debit-credit">Credit</th>
        </tr>
      </thead>

      <tr ng-repeat="item in transactionItems track by $index">
        <td>
          <a href="https://api.beeline.sg/custom/wrs/email/{{item.transaction.id}}">
            Send to feedback@beeline.sg
          </a>
        </td>
        <td>{{item.transaction.id}}<br/>
        </td>
        <td>{{item.transaction.createdAt | date:'dd-MMM-yy HH:mm:ss'}}</td>
        <td>{{item.transaction.description}}</td>
        <td>{{item.id}}</td>
        <td>{{item.itemType}}</td>

        <!-- for each ticket type -->
        <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.name || item.ticketSale.boardStop.user.name}}
            {{item.ticketSale.user.json.index >= 0 ? '#' + (item.ticketSale.user.json.index + 1) : ''}}
        </td>
        <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.telephone || item.ticketSale.boardStop.user.telephone}}</td>
        <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.user.json.email || item.ticketSale.boardStop.user.email}}</td>
        <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.boardStop.stop.description}}</td>
        <td ng-if="item.itemType == 'ticketSale'">{{item.ticketSale.alightStop.stop.description}}</td>

        <!-- for each ticket type -->
        <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.name || item.ticketSale.boardStop.user.name}}</td>
        <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.telephone || item.ticketSale.boardStop.user.telephone}}</td>
        <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.user.json.email || item.ticketSale.boardStop.user.email}}</td>
        <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.boardStop.stop.description}}</td>
        <td ng-if="item.itemType == 'ticketRefund'">{{item.ticketRefund.alightStop.stop.description}}</td>

        <!-- for each ticket type -->
        <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.user.json.name || item.ticketSale.boardStop.user.name}}</td>
        <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.user.json.telephone || item.ticketSale.boardStop.user.telephone}}</td>
        <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.user.json.email || item.ticketSale.boardStop.user.email}}</td>
        <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.boardStop.stop.description}}</td>
        <td ng-if="item.itemType == 'ticketExpense'">{{item.ticketExpense.alightStop.stop.description}}</td>

        <!-- payment -->
        <td ng-if="item.itemType == 'payment'">{{item.payment.paymentResource}}</td>
        <td ng-if="item.itemType == 'payment'"></td>
        <td ng-if="item.itemType == 'payment'"></td>
        <td ng-if="item.itemType == 'payment'"></td>
        <td ng-if="item.itemType == 'payment'"></td>

        <!-- payment -->
        <td ng-if="item.itemType == 'account'">{{item.account.name}}</td>
        <td ng-if="item.itemType == 'account'"></td>
        <td ng-if="item.itemType == 'account'"></td>
        <td ng-if="item.itemType == 'account'"></td>
        <td ng-if="item.itemType == 'account'"></td>

        <!-- transfers -->
        <td ng-if="item.itemType == 'transfer'">{{item.transfer.transportCompanyId}}</td>
        <td ng-if="item.itemType == 'transfer'"></td>
        <td ng-if="item.itemType == 'transfer'"></td>
        <td ng-if="item.itemType == 'transfer'"></td>
        <td ng-if="item.itemType == 'transfer'"></td>
        <!-- debit/credit -->
        <td>{{item.debit >= 0 ? item.debit : ''}}</td>
        <td>{{item.credit >= 0 ? item.credit : ''}}</td>
        </td>
      </tr>
    </table>
</div>
