<style type="text/css">
  td {
    word-wrap: break-word;
    word-break: break-all;
  }
</style>

<div class="container-fluid withnav">
  <div class="row">
    <div class="col-sm-10">
      <h1>User #123</h1>    
    </div>
    <div class="col-sm-2">
      <label>User Search</label>
      <user-selector></user-selector>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div>
        <table class="table">
          <h2>Information</h2>
          <tr>
            <th>Name:</th>
            <td>Supercalifragilisticespialidocious</td>
          </tr>
          <tr>
            <th>Email:</th>
            <td>Supercalifragilisticespialidocious@gmail.com</td>
          </tr>
          <tr>
            <th>Telephone:</th>
            <td>+6591111111</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-7">
      <h2>Route Credits</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Tags</th>
            <th>Amount</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>crowdstart-123</td>
            <td>$10</td>
            <td><button class="btn btn-primary">Add credit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      <h2>Navigation</h2>
      <ul class="nav">
        <li><a href="#" title="">Bookings</a></li>
        <li><a href="#" title="">Credits</a></li>
      </ul>
    </div>
  </div>
</div>