<div>
  <div class="btn-group" role="group" aria-label="...">
    <button title="copy" type="button" class="btn btn-default"   ng-click="copySelected()" ng-disabled="!selectedRoute">
      <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
     Copy Route
    </button>
    <button type="button" class="btn btn-default btn-primary" ng-click="selectRoute({})">
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      Create New
    </button>
  </div>

  <ul class="nav nav-sidebar">
    <li ng-repeat="route in availableRoutes | orderBy:'label' track by route.id"
    ng-click="selectRoute(route)"
    ng-class="{
      active: selectedRoute == route
    }"
    > <a>
      {{route.label}}
      <small> (ID: {{route.id}}) </small>
            <br />
            {{route.from}} to
            <br />
            {{route.to}}
      </a>
    </li>
  </ul>
</div>
