<div>
  <button class="glyphicon glyphicon-duplicate btn btn-default"
    title="copy"
    ng-click="copySelected()"
    ng-disabled="!selectedRoute">
  </button>
  <ul class="nav nav-sidebar">
    <li ng-repeat="route in availableRoutes | orderBy:'label' track by route.id"
    ng-click="selectRoute(route)"
    ng-class="{
      active: selectedRoute == route
    }"
    > <a>
        <small>(~{{route.id}})</small> 
        {{route.label}}:
        {{route.from}} to {{route.to}}
      </a>
    </li>
    <li ng-click="selectRoute({})"> <a><em>New route!</em></a>

    </li>
  </ul>
</div>
