<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transaction Description</th>
      <th>Balance Before</th>
      <th>Change</th>
      <th>Balance After</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="moreToLoad">
      <td colspan="5">
        <button ng-click="loadMoreHistory()" class="btn btn-default">Load more</button>
      </td>
    </tr>
    <tr ng-repeat="ti in routeCreditHistory track by ti.id">
      <td>{{ti.createdAt | date:'dd MMM yy HH:mm':'+0800'}}</td>
      <td>{{ti.transaction.description}}</td>
      <td class="text-right">{{ti._balanceBefore | number}}</td>
      <td class="text-right">{{ti.credit > 0 ? 1 : -1| number}}</td>
      <td class="text-right">{{ti._balanceAfter | number}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Final balance</td>
      <td class="text-right"></td>
      <td class="text-right"></td>
      <td class="text-right">{{finalBalance | number:2}}</td>
    </tr>
  </tbody>
</table>
